[2018-11-10 09:34] Sean-Der opened #1 "Implement VerifyData validation"

[2018-11-10 09:35] Sean-Der opened #2 "Implement Key Exchange signature validation"

[2018-11-10 09:36] Sean-Der opened #3 "Implement strict version checking"
We should check the version of the remote we are communicating with (and throw an error) right now we depend on the other side blowing up if they are `v1.0`

[2018-11-10 09:36] Sean-Der opened #4 "Add fuzz testing to all handshake messages"

[2018-11-10 09:36] Sean-Der opened #5 "Send alerts + errors on invalid input"

[2018-11-20 09:03] Sean-Der opened #7 "Implement conditional certificate requesting"

[2018-11-20 09:06] Sean-Der opened #8 "Implement more cipher suites"
The following are in the ClientHello from Chrome.

I wouldn't implement anything weaker then what we have now. However `CHACHA20_POLY1305` is a good candidate.

[code]

[2018-11-20 09:06] Sean-Der opened #9 "Implement use_srtp extension"

[2018-11-20 09:07] Sean-Der opened #10 "Copy CI from `pions/webrtc`"
Get code coverage and unit testing going

[2018-11-20 09:08] Sean-Der opened #11 "Add E2E tests with OpenSSL"
Add some basic testing using s_client + s_server

The author should also refactor/re-use our existing E2E testing code so that we don't duplicate in both places.

[2018-11-26 02:31] Sean-Der commented on #8
We need `TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256` for Janus

[2018-11-27 21:56] backkem opened #13 "Implement re-try backoff (and eventual timeouts)"
The handshake takes quite some time now. Maybe we can trigger the TimerThread when changing flight?

[2018-11-27 22:49] Sean-Der commented on #13
@backkem This was just bothering me the other night, this would be awesome to have. We should kick it again + introduce timeouts. https://tools.ietf.org/html/rfc6347#section-4.2.4

The timeThread should double every time, so we don't just spam every second. (1 -> 2 -> 4)

[2018-11-28 14:03] backkem commented on #13
I added an initial implementation in cbdebe94302bdde0a16e18d78ff5ef274430ed89.

[2018-11-28 14:17] backkem opened #14 "Implement close_notify"
Implement [close_notify](https://tools.ietf.org/html/rfc5246#section-7.2.1) to correctly signal connection shutdown to peer.

[2018-11-28 14:27] backkem opened #15 "Investigate Heartbeat"
Can we guard against badly behaving peers (E.g.: Not sending close_notify) using a Heartbeat? Maybe something like [RFC6520](https://tools.ietf.org/html/rfc6520)?

[2018-11-28 19:55] backkem opened #16 "Phase out internal/ice"
Phase out internal/ice and find an alternative way to show off the `Server` and `Client` examples.

[2018-11-28 23:07] #14 closed

[2018-11-28 23:22] backkem opened #17 "End handshake"
Add a good way to end the handshake. At the moment the server sends handshake finished messages forever.

[2018-11-30 08:43] #10 closed

[2018-11-30 09:06] #16 closed

[2018-11-30 09:42] Sean-Der commented on #17
@backkem IMO I think that is fine (for now)

The only thing we need to do I think is restart the handshaking if we get a flight message we don't expect.

[2018-11-30 09:43] Sean-Der opened #18 "Fix all lint errors"

[2018-11-30 23:22] Sean-Der opened #19 "Implement handshake rollback handling"
We need to handle the remote peer losing some of our packets.

IE if we get a [serverHello](https://github.com/pions/dtls/blob/master/pkg/dtls/client_handlers.go#L24) and are in flight 5 we should rollback to flight3. This is the other side telling us they missed some of our messages.

We should also write a integration test around this. We should generate/capture some packets from OpenSSL to veri

[2018-12-01 09:10] #1 closed

[2018-12-03 08:18] #2 closed

[2018-12-03 09:46] backkem commented on #11
We should probably implement these types of tests globally so we can throw them at any layer of the stack. The beginnings of this are [here](https://github.com/pions/webrtc/blob/dtls-native/internal/transport/test/test.go). Eventually it could look like [this](https://github.com/libp2p/go-libp2p-transport/blob/master/test/utils.go).

[2018-12-03 09:52] #18 closed

[2018-12-04 06:07] Sean-Der commented on #19
I am tabling this for now, on further thought I don't see how this can happen.

We only enter the next flight from remote input. We also re-send our input on a timer, so we don't have to worry about the other side waiting on us.

[2018-12-08 10:01] Sean-Der commented on #13
The handshake now needs to implement backoff mentioned in https://github.com/pions/dtls/issues/13#issuecomment-442248175

But the speed itself is A+ :)

[2018-12-08 10:01] #17 closed

[2018-12-08 10:33] jkralik opened #20 "Verification client/server certificates"
Hi.
Is there any plan to add support for setup certification authority (intermediate) to verify client/server certificates?
Thx

[2018-12-08 20:08] Sean-Der commented on #20
Hey @jkralik

You can call [RemoteCertificate](https://godoc.org/github.com/pions/dtls/pkg/dtls#Conn.RemoteCertificate)

We currently don't send a certificate request (but we can respond to them) I would love to see the API extended to support setting/getting extensions (like SRTP) and enabling `Certificate Request` when you are Dialing!

[2018-12-09 00:21] Sean-Der opened #21 "Server should respect named curves that client supports"
Currently the server ignores what named curves the client supports and always uses `X25519` we should query and then decided what to use.

[2018-12-09 20:03] backkem opened #22 "Docs: Update style"
Update the readme style to match pions/webrtc.

[2018-12-13 00:41] #22 closed

[2018-12-19 04:05] #8 closed

[2018-12-19 04:06] #19 closed

[2018-12-19 04:07] Sean-Der commented on #20
Hey @jkralik

I am closing this for now, but please feel free to re-open if we need to do more so you can implement what you are working on!

thanks

[2018-12-19 04:07] #20 closed

[2018-12-19 11:14] backkem opened #28 "Race in closing c.decrypted"
[code]

[2018-12-19 21:55] #28 closed

[2019-01-09 16:40] wdouglass opened #30 "Race detected in dtls"
Found this while debugging unrelated issues with webrtc (at the end of the webrtc testibility branch)

It's not easy to reproduce

[code]

[2019-01-09 16:43] wdouglass commented on #30
this was found with `go test -v -race github.com/pions/webrtc`

[2019-01-25 20:32] diagonalfish opened #32 "Client example error - Expected and actual key signature do not match"
Hello.

Following the instructions in the readme to create a certificate and key and testing out the client example, I get the following error with the latest version of the library (as of today):

[code]
I'm on CentOS 7.  My OpenSSL version is 1.0.2k-fips, and I'm on Go 1.11.2.

[2019-01-25 20:53] diagonalfish commented on #32
I download and compiled the latest OpenSSL (1.1.0j) and it appears to not be affected by this problem.  I am not sure if this is a bug in OpenSSL or some other subtle incompatibility that was resolved in 1.1.0+.

[2019-01-25 21:18] Sean-Der commented on #32
@diagonalfish thanks for the report!

I will run `1.0.2k` and check it out. Does CentOS 7 ship that by default? (just looking for the easiest way to test) vs building it myself.

I can also help debug quicker if you can `spew.Dump` at client_handlers.go:91 and get a pcap of all udp traffic. If you don't have time totally understand though!
[code]

[2019-01-25 23:36] diagonalfish commented on #32
Here is a spew of all the variables you wanted to see: https://gist.github.com/diagonalfish/ed5c393f73b5b76444ba66f5285b37f1

pcap's a bit harder because I'm communicating on localhost but here's the OpenSSL debug output which includes packet hex dumps:  https://gist.github.com/diagonalfish/836cac3938221c10a4f966995b6ca927

[2019-01-28 08:56] Sean-Der commented on #32
Perfect, thank you @diagonalfish

I was able to reproduce this, and will be working on this. I will update you when I know the exact issue and then when I push a fix.

Thanks for using Pion DTLS!

[2019-02-01 08:59] Sean-Der commented on #32
@diagonalfish

I was able to get OpenSSL as a client and Pion DTLS working as a server with this patch
[code]

I will get this patch into master. We should conditionally support getting/setting extensions like `crypto/tls` but I just defaulted them because I only was concerned about pion-WebRTC at the time.

Still working on pion DTLS as a client. This is probably the most frustrating part, it is

[2019-02-04 21:05] #30 closed

[2019-02-11 21:42] diagonalfish commented on #32
Sorry - was out last week and didn't see this.  I appreciate the work you've put into this so far.  If there's anything else I can do to help let me know.

[2019-02-12 10:39] backkem opened #35 "community"
This ticket is used to track and reach out to related projects.

- [thomas-fossati/dtls](https://github.com/thomas-fossati/dtls)

Please prefer using the [Golang Slack](https://invite.slack.golangbridge.org/) [#pion](http://gophers.slack.com/messages/pion) channel or [mailing list](https://groups.google.com/forum/#!forum/pion) for long form discussions.

[2019-02-12 10:40] backkem commented on #35
@thomas-fossati let us know if you're interested in up-streaming your work. We're always looking to accommodate related efforts.

[2019-02-13 09:19] Sean-Der commented on #32
Hey good news @diagonalfish this is all fixed! Can you try out my branch when you get a chance? https://github.com/pions/dtls/pull/37

[2019-02-14 14:39] diagonalfish commented on #32
Can confirm that the issue-32 branch solves the problem.  Excellent :)

[2019-02-14 19:42] Sean-Der commented on #32
Fantastic, merged!

Thanks again for the bug report. If there is every anything else I am all ears, hopefully the package is easy to use :)

Also feel free to join us in Slack! Most people are talking about pions/webrtc but always happy to help debug/discuss anything.

[2019-02-14 19:42] #32 closed

[2019-02-16 09:55] Sean-Der opened #38 "Implement ClientAuthType"
We need to implement [ClientAuthType](https://golang.org/pkg/crypto/tls/#ClientAuthType) from crypto/tls

Currently pion/webrtc only verifies a certificate when running as a client

[2019-02-17 10:22] #38 closed

[2019-03-01 15:45] thomas-fossati commented on #35
Hi Michiel,

Sure, it'd be great, two things though:
- There is a dependency on the upstream spec which we expect (finger crossed) to finalise in the next IETF cycle (between March and July);
- This specific feature impacts Pions' network layer, and since I do not master its internals, I'd need some pre-review help to check that I haven't done horrible things.  If you have time, maybe you could pr

[2019-03-03 07:49] Sean-Der commented on #35
Hey @thomas-fossati, that is awesome!

* Out of curiosity why did you choose to start hacking on this using `pions/dtls`?
* I would be more then happy to check out everything, if you do a rebase + `wip pr` I am happy to read through everything?
* Is there anything we can do to make this package better? Since you have read the code and poked around I am sure you saw some of my mistakes, anything I

[2019-03-04 09:45] thomas-fossati commented on #35
Hi Sean,

Mainly because it looked like a well architected piece of software which I could understand and modify without major heartburns :-)

Sounds good!  I'm going to have some time to do that at end of this week.

No particular comments for now, apart from "good work!".  I've only stumbled upon one [bug](https://github.com/thomas-fossati/dtls/commit/dbde4c64ba7e68a12ce5cc7649d8a29a08261f9d).

[2019-03-12 21:01] digitalhurricane-io opened #40 "Implement Null Cipher"
## Summary

Add ability to use null cipher

## Motivation

Reduce CPU usage

* [ ] write the codes
* [ ] write wiki

[2019-03-14 03:24] enobufs opened #42 "Data Channel connection wouldn't establish with logs from DTLS"
### Your environment.
  - Version: *Release or SHA*: 44ae5 (dtls v1.2.1, webrtc@v1.2.1-0.20190218202731-31fa14cd0d01)
  - Browser: *include version*: n/a
  - Other Information - See below

### What did you do?
Running data channel connection tests over the Internet, noticed that data channel connection wouldn't establish (never completes) close to 60% of chances (it varies depending on the locatio

[2019-03-14 05:06] Sean-Der commented on #42
Hey @enobufs

This just looks like poor lossy connection handling, this should be easy enough  to fix! I probably made a poor assumption somewhere :(

Are you using pion on both sides? Do you only get error messages on one side? The side that you see error messages is it the offerer or answerer?

[2019-03-14 06:44] enobufs commented on #42
Yes, using pion on both ends. Those logs were from offerer (connecting) side. (I don't have the server side log...)

[2019-03-18 18:53] enobufs commented on #42
The rev at b388d3f seems to work very well!

First, I was able to reproduce the problem (without the fix) with Network Link Conditioner (mac) with the following settings:
[code]

With this configuration, I saw the CiperSuite/old epoch logs at about 50 percent of chances.

Then I used an experimental branch of pions/webrtc, I created, which includes dtls@b388d3f and sctp@master (t1-init/cookie).  I

[2019-03-18 23:51] Sean-Der commented on #42
Fantastic news :)

I will land + tag this in `pions/dtls` tonight and I will create another PR for `pions/webrtc` that uses the new Datachannels and DTLS.

Really excited to hear how this does in production :)

[2019-03-20 05:47] Sean-Der commented on #42
All merged @enobufs !

W/e you get a chance mind signing off and merging https://github.com/pions/webrtc/pull/532 and we should be good to go :)

[2019-03-20 05:47] #42 closed

[2019-03-24 18:10] daenney opened #45 "Support TLS_PSK_WITH_AES_128_CCM_8 for IoT usecases"
## Summary

I'd like to request inclusion of at least one [RFC 6655](https://tools.ietf.org/html/rfc6655) cipher suite, [`TLS_PSK_WITH_AES_128_CCM_8`](https://tools.ietf.org/html/rfc6655#section-4). This suite is often used for IoT products, most notably IKEA Tradfri uses it for CoAP over DTLS.

## Motivation

I'd like to use a Go native DTLS library in a number of my IoT projects. Some of these p

[2019-03-24 18:11] daenney commented on #45
@bocajim Would it be feasible to contribute `TLS_PSK_WITH_AES_128_CCM_8` to this library instead?

[2019-03-24 19:21] Sean-Der commented on #45
Hey @daenney

That would be fantastic! I am open to any/all improvements to the library. We are missing features just because they were not needed for `pions/webrtc`. I don't think I will have a lot of time, but would love to help this land.

This change won't be trivial, but we should totally do it! We don't support PSK, so we will need to handle that. The actual encrypt/decrypt is easy to update

[2019-03-27 08:59] jinleileiking opened #47 "[WIP] Cannot trace dtls details."
If this package do not log, We cannot trace the detalls of dtls. For example, what ciphers does the server give, etc.

[2019-03-28 11:27] jinleileiking opened #48 "clean fmt.Println"
There are codes like:
`fmt.Println("handleIncoming: Handshake not finished, dropping packet")`

* use logging??
* put these in return error message?

[2019-03-28 11:41] backkem commented on #48
This is non-critical. Logging using pions/logging seems to be the correct approach.

[2019-04-02 10:03] jinleileiking opened #49 "client send 2 clienthello."
### Your environment.
  - Version: b4bc4798b938775e640c7d70d9c877c1096c24d0
  - Browser: chrome 71.0.3578.98
  - Other Information - use sfu-ws example

### What did you do?

click the publish button

### What did you expect?

There will be one client hello

### What happened?

There are 2 client hello in wireshark. Maybe the timer bug.

![Untitled](https://user-images.githubusercontent.com/93968/

[2019-04-02 11:22] jinleileiking commented on #49
some log
[code]

[2019-04-05 12:18] denis4net opened #53 "Support multiple certificates and certificate chains"
### Your environment.
  - Version: e63b39a97d6cba27575125f98451287fa4a48978

### Library usage
[code]

### What did you do?
I tried to connect to the simple dtls server using
[code]
and it works! But when I use a `-cert_chain` argument, dtls implementation fails:

[code]

### What did you expect?
Successful handshake

### What happened?
Logs from server implementation on golang:
[code]

![image](h

[2019-04-05 12:19] denis4net commented on #53
[golang-dtls-server-cert-chain-issue.zip](https://github.com/pion/dtls/files/3047814/golang-dtls-server-cert-chain-issue.zip)

[2019-04-05 12:22] denis4net commented on #53
[certs.zip](https://github.com/pion/dtls/files/3047824/certs.zip)

[2019-04-05 12:25] denis4net commented on #53
[cert.zip](https://github.com/pion/dtls/files/3047835/cert.zip)

[2019-04-05 12:58] denis4net commented on #53
Server works if client certificate authentication is disabled: `ClientAuth:  dtls.NoClientCert`

[2019-04-06 01:09] Sean-Der commented on #48
Closed by f365b82f4a96e8b5fa614b649dfcc7dda5224805

[2019-04-06 01:09] #48 closed

[2019-04-06 01:09] Sean-Der commented on #47
Closed by f365b82f4a96e8b5fa614b649dfcc7dda5224805

Feel free to add more @jinleileiking thanks again for the PR :)

[2019-04-06 01:09] #47 closed

[2019-04-09 11:17] backkem opened #55 "Race in serverFlightHandler"
### Your environment.
  - Version: v1.3.0
  - Travis build: https://travis-ci.org/libp2p/go-libp2p-webrtc-direct/builds/517702466

### What happened?
Aside from the test getting stuck we're seeing the following race in SubtestStress50Conn10Stream50Msg:
[code]
Noteworthy about this test is that it opens multiple PeerConnections in parallel.

[2019-04-09 11:17] backkem opened #56 "Race in handshake_message_finished"
### Your environment.
  - Version: v1.3.0
  - Travis build: https://travis-ci.org/libp2p/go-libp2p-webrtc-direct/builds/517702466

### What happened?
Aside from the test getting stuck we're seeing the following race in SubtestStress50Conn10Stream50Msg:
[code]
Noteworthy about this test is that it opens multiple PeerConnections in parallel.

[2019-04-09 19:05] backkem commented on #55
The problem seems to be that the `flightHandler` can be called concurrently: From `handleIncomingPacket` and the `workerTicker` timers. This is concurrently accessing `localVerifyData` in this case but it seems safer to run the entire `flightHandler` atomically.

[2019-04-09 19:39] #55 closed

[2019-04-10 05:38] #56 closed

[2019-04-11 13:57] jinleileiking commented on #49
Any suggestion？

[2019-04-11 13:59] jinleileiking commented on #5
Can you elaborate this issue？

[2019-04-15 08:01] Sean-Der commented on #53
Hey @denis4net!

Sorry I haven't had a chance to look at this yet. I am working on PSK at the moment, when that is complete I will come right back to this.

thanks for the patience :)

[2019-04-15 08:04] Sean-Der commented on #15
Hey @backkem

Feel free to re-open, but I don't know if the value is worth the effort. After heartbleed happened this was pulled from LibreSSL (so not supported everywhere)

It also seems like most people just run other things over DTLS, and do health checks their. Feel free to re-open if you disagree.

[2019-04-15 08:04] #15 closed

[2019-04-15 08:08] Sean-Der commented on #45
I started digging into this, the good news is OpenSSL does support PSK! The bad news is no CCM :/

I am working on this now, I will add `PSK-AES256-CBC-SHA` and then we can work on `CCM` after that lands.

thanks!

[code]

[2019-04-15 08:59] jinleileiking commented on #40
After hours  for making null cipher about `sfu-ws`. I got these infos:

I use `--disable-webrtc-encryption` open chromium. The pion outputs `AVPF` question in sdp. After I change the sdp codes. Pion complaints ` no finger print`. It seems chromium do not generate fingerprint in no-encrypt mode.

I upload my temperate codes in jinleileiking-nullcipher branch of sdp and dtls.

[2019-04-15 09:46] daenney commented on #45
Funky. I couldn't get it to show up in `openssl ciphers` on my side:

[code]

Glad you found it though!

[2019-04-15 17:26] Sean-Der commented on #45
@daenney what version of OpenSSL do you have, I was able to get this with `OpenSSL 1.1.1b  26 Feb 2019`

I also had to do `openssl ciphers -V ALL@SECLEVEL=0;` to see it

[2019-04-15 18:07] daenney commented on #45
Same: `OpenSSL 1.1.1b  26 Feb 2019`. I had no idea about `-V ALL@SECLEVEL=0 `.

[2019-04-19 01:55] maxhawkins commented on #49
Also seeing this on v1.3.3

[2019-04-19 02:47] Sean-Der commented on #49
sending a `ClientHello` during `flight3` isn't an issue currently (@maxhawkins sending a malformed one is though)

* During `flight3` we send a `ClientHello` every second until the client has enough state to move onto `flight5`

* If the server sends a `handshakeTypeHelloVerifyRequest` we also should send a `ClientHello` but with a Cookie and increment the local SequenceNumber once.

---

@maxhawk

[2019-04-20 05:37] jinleileiking commented on #49
It seems not an issue. Closed for now

[2019-04-20 05:37] #49 closed

[2019-05-18 08:28] Sean-Der opened #64 "Allow CipherSuite to be chosen via config"
This is required to support PSK

This also will allow us to test more suites

[2019-05-19 00:56] #64 closed

[2019-05-24 17:36] ernado opened #69 "Add benchmark for throughput"
## Summary

Implement benchmark via standard go `*testing.B` for throughput.
Probably, multiple ones: per-packet size and (maybe) per cipher suites, with multiple concurrency level, etc.

## Motivation

This will allow us to track performance between different commits and versions.

Note that no packet loss simulation or any other side-effects are expected for this iteration, only raw performance

[2019-05-25 07:01] Sean-Der commented on #4
@ernado I think you can just resolve this one! but feel free to throw any info you want in here :)

[2019-06-01 08:39] #69 closed

[2019-06-05 02:45] estasig opened #74 "DTLS handshake failed with TLS_RSA_WITH_AES_256_CBC_SHA Cipher Suite"
### Your environment.
  - Version: *dtls@v1.3.5*
  - Browser: *echo show*
  - Other Information - *I am new to TLS but here's my findings now. According to [RFC5246 7.4.3][https://tools.ietf.org/html/rfc5246#section-7.4.3] it's not legal to send ServerKeyExchange message for RSA while pion/dtls keeps waiting for ServerKeyExchange message in flight3 of client_handlers.go*

### What did you do?

###

[2019-06-12 13:08] igolaizola opened #75 "Deadlines are not working properly"
### Your environment.
  - Version: dtls@v1.3.5

### What did you do?
Client side:
[code]
Server side:
[code]

Full example at: https://play.golang.org/p/aPaG4IROkFB

### What did you expect?

`dtlsConn.Read(b)` should have returned a timeout error.

### What happened?

Data was received without error exceding the deadline.

[2019-06-12 15:00] igolaizola commented on #75
Outside The Go Playground seems to be working fine... 🤔

[2019-06-24 02:53] Sean-Der commented on #75
Hey!

Sorry I missed this, so setting deadlines works locally? That is pretty cool it works at all on playground :)

Mind resolving if there is nothing we need to do next? Thanks!

[2019-06-24 06:37] igolaizola commented on #75
Locally seems to work fine. No idea why it doesn't work on playground...

I am closing this.

[2019-06-24 06:37] #75 closed

[2019-07-01 08:06] Sean-Der commented on #40
Hey @digitalhurricane-io

Unfortunately it looks like we will never be able to do a `NULL` Cipher for WebRTC. The RFC states that encryption is mandatory. Did you open this ticket because you want to use DTLS outside of WebRTC?

If this is WebRTC we should probably not spend time implementing this. thanks!

[2019-07-02 18:43] #45 closed

[2019-07-02 18:47] Sean-Der commented on #45
Nice, I think that adds a whole new level of usefulness :)

Thank you so much for taking time for the reviews guys @daenney @igolaizola! If you guys have any opinions on things the library needs/where we should go next I am all ears :) I am back on Pion WebRTC for a while, but always ready to jump in

[2019-07-03 15:46] daenney opened #77 "Support TLS_PSK_WITH_AES_128_GCM_SHA256 (Philips Hue Entertainment API)"
In the same spirit as #45, I'd like to add support for `TLS_PSK_WITH_AES_128_GCM_SHA256` which is what Philips uses for the new Hue Entertainment API.

Given we already have PSK support thanks to @Sean-Der's efforts on #45, #76 and we already have AES_128_GCM_SHA256 I suspect this should be relatively straightforward.

I'll take a look at this in the coming weeks, just wanted to file an issue here

[2019-07-04 09:25] #77 closed

[2019-07-04 09:55] daenney opened #80 "Release 1.4.0"
There's been a number of changes since the current 1.3.x series that I believe warrant a release and a bump to the minor version.

* [x] AES-CCM #46
* [x] PSK support #66
  * [x] TLS_PSK_WITH_AES_128_CCM_8 #76
  * [x] TLS_PSK_WITH_AES_128_GCM_SHA256 #78

I'd also like to get #79 in.

Anything else of note or importance to get done for 1.4?

[2019-07-04 10:01] Sean-Der commented on #80
This sounds great to me! Really excited to see this working out for everyone that needs PSK (for all these IoT devices)

We need to really start a Twitter account and start writing blog posts etc... I am not involved with the IoT/security community at all so I don't even know where to post/announce this stuff. I just know WebRTC/video

[2019-07-04 10:07] daenney commented on #80
Twitter is relatively easy; you can create a Pion Twitter account and then using https://tweetdeck.twitter.com/ you can give people the ability to post as Pion through their own account (so no need to share account passwords). The `#golang` and `#iot` tags ought to do the trick for some exposure there. There's also plenty of bots that'll auto-tweet on blog post releases as long as you have an RSS

[2019-07-04 13:08] Sean-Der commented on #80
@daenney only issue is that twitter.com/pion and twitter.com/pions is taken :/

It looks like they aren't fond of turning over inactive accounts either. We could do something like `pion-github` but seems a bit sad.

[2019-07-04 21:59] daenney commented on #80
pionrtc is free, which wouldn't be half bad.

[2019-07-08 11:57] daenney commented on #40
Even if we could add a NULL cipher, I am strongly opposed to doing so.

Though with a NULL cipher we would still keep the authenticity and integrity pillars of TLS, the confidentiality one crumbles. Effectively, your payload is transmitted in the clear. This risks creating a scenario where people believe their transmissions are safe from prying eyes where in reality they are not, leading to a fals

[2019-07-08 11:57] #40 closed

[2019-07-08 16:58] Sean-Der commented on #40
@daenney I agree 100%! Thank you so much for the well written/multi-point response, that will make it really easy to not re-open this conversation.

[2019-07-10 18:37] Sean-Der commented on #80
Hey sorry for the delay @daenney

I got https://twitter.com/_pion and make you an admin! I will post on Slack if anyone else is interested. I will work on setting up the account more now. But feel free to cut a release/post where ever you want about it :)

I am sure people are sick of seeing me pushing Pion everywhere :p

[2019-07-11 09:10] daenney commented on #80
What delay? I believe both you and I are supposed to be on vacation :stuck_out_tongue:. Is there anything specific we do for releases or just push a new tag?

[2019-07-14 17:02] daenney commented on #80
I've just pushed the v1.4.0 tag. If there's anything I missed as part of the release process do let me know. I'll close this now.

[2019-07-14 17:02] #80 closed

[2019-07-14 17:17] daenney commented on #80
The tweet about it is here: https://twitter.com/_pion/status/1150453486561169409 in case anyone wants to boost it.

[2019-08-01 07:29] RyanGordon opened #82 "Panic on no supported client-requested "namedCurves""
### Your environment.
  - Version: 1.5.0
  - Browser: Node.JS @nodertc/dtls library
  - Other Information:

[code]

### What did you do?
1. Started a `pion/dtls` listen server.
2. Using openssl 1.0.2s client:
`openssl s_client -dtls1_2 -connect 127.0.0.1:4444 -debug -cipher ECDHE-ECDSA-AES128-GCM-SHA256 -curves secp384r1`

### What did you expect?
Connection closes gracefully, rather than a panic

[2019-08-01 08:01] Sean-Der commented on #82
Nice find!

You interested in fixing @RyanGordon? That would be an awesome first issue! If there is anything I can do to help please tell me.

If you don't have the time/aren't allowed I can grab instead!

[2019-08-01 08:02] RyanGordon commented on #82
Yes, I will gladly put up a PR tomorrow

[2019-08-01 16:26] RyanGordon opened #84 "Support secp384r1 as elliptic curve"
## Summary

This adds `secp3841` as a support elliptic curve.

## Motivation

Some client libraries do not support `secp256r1` or `X25519`, the two EC's supported by this library. Therefore we propose adding `secp384r1` to widen support for various client libraries. `secp384r1` is still currently recommended per https://www.iana.org/assignments/tls-parameters/tls-parameters.xml#tls-parameters-8

[2019-08-01 17:45] RyanGordon opened #86 "Extended Master Secret support [RFC7627]"
## Summary

We wish to add support for the "Extended Master Secret" extension as recommended by [RFC7627](https://tools.ietf.org/html/rfc7627)

## Motivation

Some dTLS clients use the "Extended Master Secret" extension in the `Client Hello` message. Per the RFC7627 spec, if the client requests "Extended Master Secret" the server must also specify supporting "Extended Master Secret" in the `Server

[2019-08-01 17:48] Sean-Der commented on #86
I am all for this!

Does `crypto/tls` disconnect remotes that don't implement it? I would copy w/e behavior they have.

It would be pretty annoying for existing Pion WebRTC users though, so hopefully it is something we can configure. If we have to break the world we can just figure it out though !

[2019-08-01 18:52] RyanGordon commented on #86
For now what if we only added support for the "Extended Master Secret" extension to the server side? That way we don't cause any potentially breaking behavior right now and dtls gains support for clients who request the "Extended Master Secret" extension.

[2019-08-01 20:09] #82 closed

[2019-08-01 20:16] Sean-Der commented on #86
That works for me!
I am all for both sides implementing, but I would make it optional (or configurable at least)

I just don't want people that upgrade `pion/dtls` to be locked out from connecting to older clients by default. If we can make sure that happens I think we are doing right by everyone

[2019-08-01 22:53] PaulBGD opened #87 "Slice bounds out of range"
### Your environment.
  - Version: v1.5.0
  - Browser: Firefox 68.0.1
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*
[code]

### What did you do?
It looks like it just occurs when a peer connects. I can't cause this to reproduce, but it does seem to happen once in a while. It could either be caused by a Firefox client or a client using t

[2019-08-02 05:32] #84 closed

[2019-08-02 07:15] AllenKd opened #89 "DTLS with PSK stuck at handshake progress"
Once send packet over DTLS with wrong PSK, the DTLS server will be stuck at handshaking and cannot handle other request anymore event use right PSK.

CipherSuites: TLS_PSK_WITH_AES_128_CCM_8

[2019-08-05 14:17] #87 closed

[2019-08-22 08:35] Sean-Der opened #96 "Race condition found with insecureSkipVerify"
[code]

[2019-08-23 01:06] #5 closed

[2019-08-23 01:06] #89 closed

[2019-08-23 22:54] Sean-Der commented on #13
@RyanGordon actually I agree with closing this. With DTLS you are supposed to grow the time you send each packet (1 -> 2 -> 4 -> 8)

but IMO I am not that excited to add the complexity/possibility of bugs. I think adding the timeout is perfect as it.

thanks for doing this

[2019-08-23 22:54] #13 closed

[2019-08-24 17:25] RyanGordon opened #97 "Protect sensitive memory regions separately"
## Summary

This is for a discussion around protecting sensitive portions of memory (i.e. handshake cache, master secret, private keys) instead of leaving it with the same regular Golang memory handling.

One such implementation could be to use something like [memguard](https://godoc.org/github.com/awnumar/memguard) which utilizes kernel features to more carefully protect certain portions of memor

[2019-08-26 19:23] RyanGordon opened #100 "RequestClientCert option can cause connection error"
### Your environment.
  - Version: b28063ed43f57a8c2d54e36327e8ae6c3d40acf8
  - Browser: N/A
  - Other Information: OpenSSL 1.1.1c

### What did you do?

Server: `go run example_server.go`
[code]

Client: `openssl s_client -dtls1_2 -connect 127.0.0.1:4444 -debug`

### What did you expect?
The connection to succeed without error

### What happened?
[code]

[2019-08-26 20:36] #100 closed, assigned to nobody

[2019-08-26 21:11] Sean-Der opened #102 "Race found with isInitialized"
[code]

[2019-08-27 05:16] daenney opened #105 "Race in TestSimpleReadWrite"
[code]

[2019-08-27 07:28] #102 closed, assigned to nobody

[2019-08-28 07:54] #105 closed, assigned to nobody

[2019-08-28 21:26] Sean-Der commented on #74
@estasig This is happening this week! Starting next week you will be able to use Pion with the echo device.

thanks for using Pion and reporting this :)

[2019-09-15 00:24] Sean-Der opened #120 "Add tests for fingerprint generation"
Currently fingerprint generation has no test coverage

[2019-10-15 07:26] renovate[bot] opened #130 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-10-18 08:03] aconchillo commented on #53
it seems this PR #99 would fix this.

[2019-10-27 22:54] hjames9 opened #132 "Client never recovers/disconnects lost connection from server restart"
If a client is continuously sending messages on a properly established DTLS connection, if the server dies and restarts, the client never detects the server is down or attempt to reestablish the connection.

Here's an example of a client:
[code]

Here's an example of a server receiving the message:
[code]

Would expect some way for the client to realize that it has to resend a message because the

[2019-10-28 09:46] daenney commented on #132
UDP doesn't really have connections, so we'd basically have to have a mechanism client side that's configured with a value for a timeout, after which we consider the server to be gone and attempt to re-establish a DTLS session. I'm not sure this needs to be part of the DTLS library, this is a reality of using UDP that you need to handle yourself, as what we consider to be a broken "connection" in

[2019-10-28 09:55] daenney commented on #132
I would imagine that if the server restarts you'd be getting errors though, as the TLS session is no longer valid. So it sounds like that's at least something to look at in your code, because you should be able to catch that case. If the server just dies, as in goes away but never comes back, you'd have to use to a timeout on the `conn`.

[2019-10-28 11:00] daenney commented on #132
Turns out I'm wrong on being able to detect a restart. DTLS implementations silently ignore invalid records, so there's no way to detect that.

   invalid formatting, length, MAC, etc.).  In general, invalid records
   SHOULD be silently discarded, thus preserving the association;
   however, an error MAY be logged for diagnostic purposes.
   Implementations which choose to generate an alert inste

[2019-10-28 11:50] hjames9 commented on #132
Got it,  makes sense.  Thanks for analysis.   Agreed that it seems that this should be more handled by the application side as per the nature of DTLS/UDP.  However, do you think the library should expose more protocol details to aid in that?  For instance should the sequence numbers on the DTLS packets be exposed in order for the application to detect gaps or maybe provide callbacks for a library

[2019-10-28 12:04] hjames9 commented on #132
@daenney Also, do you think alerting (generating and receiving), should be exposed at all?

[2019-10-29 04:50] hjames9 opened #133 "Only ECDSA keys supported"
Hello, it appears in the code that only ECDSA keys are supported.
https://github.com/pion/dtls/blob/master/conn.go#L100

However in the documentation (mainly README.md), it mentions the following ciper suites as being supported:
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA

Is the documentation incorrect or is there another way to bypass that certificate type check?

[2019-10-29 04:55] Sean-Der commented on #133
@hjames9 I *believe* RSA works if the remote offers it, but you are right locally we only support ECDSA.

I am not against supporting it though, just need to see the complexity vs value trade off. I don't want to add bugs for other things in the process of supporting it.

[2019-10-29 07:36] rumpelsepp commented on #133
Is adding support for (local) ed25519 keys possible in the current codebase? I mean, are there only  a few lines that need to be changed, or is some larger refactoring needed?

[2019-10-30 18:15] Sean-Der commented on #133
@rumpelsepp I *think* just a few lines need changing.

We have a few cases where we switch off the type of the key. Someone just needs to support the cases where that fails and we should be good!

[2019-11-05 09:05] rumpelsepp commented on #133
ed25519 is implemented as of today.

[2019-11-05 22:13] kixelated opened #138 "ChangeCipherSpec is not decrypted/authenticated"
Hello, I noticed that there's a special case that exempts `ChangeCipherSpec` from decryption. This is true for every cipher.

https://github.com/pion/dtls/blob/77fae27e533bb08a75644fd6e92a71de9df4d619/crypto_cbc.go#L99

The act of decryption also performs authentication. Without this, attackers can forge and send ChangeCipherSpec packets even when a connection is otherwise encrypted and authentica

[2019-11-05 22:40] Sean-Der commented on #138
Thanks for the report @kixelated !

How does bumping the epoch effect the connection? The remote epoch is only taken into account if we need to replay the initial handshake.

[2019-11-05 22:41] Sean-Der commented on #138
I am all for authenticating these though, but since they occur in epoch 0 they all can’t be authenticated. Need to confirm

[2019-11-05 22:44] kixelated commented on #138
Yeah, it's probably fine with the current pion implementation. You should really reject ChangeCipherRecord packets unless you're in the right flight of the handshake.

[code]

[2019-11-07 16:23] hjames9 opened #139 "DTLS listener should fail immediately on invalid configuration"
This is related to an issue I had using DTLS mode in the go-coap library (https://github.com/go-ocf/go-coap/issues/69).  If I attempt to instantiate a DTLS listener, with an invalid configuration (in my case attempting to use an RSA key), the listener will start successfully, but all incoming messages will fail.

### What did you expect?
If provided an invalid DTLS config object, the listener shou

[2019-11-07 16:24] daenney commented on #139
I might be missing something but I'm not seeing a PR?

[2019-11-07 16:47] hjames9 commented on #139
@daenney Attached it to the ticket, had some connection issues but should be available now.

[2019-11-10 08:52] #139 closed

[2019-11-10 08:53] Sean-Der commented on #139
Fantastic work @hjames9

@daenney and @rumpelsepp you both really rock, thank you so much for reviewing stuff and taking time out to make stuff better :)

[2019-11-10 08:57] Sean-Der commented on #139
@hjames9 not super urgent, but if you are looking to contribute it would be awesome to remove some of the duplication around config parsing! `Client` and `Server` both have checks we might be able to move into validate.

Also we do have some duplicate testing for `errPSKAndCertificate` and `errIdentityNoPSK` might be nice to pull those out of `conn_test` and simplify that a bit.

thanks! no rush,

[2019-11-10 09:28] Sean-Der commented on #132
Hey @hjames9

We can expose statistics if that is helpful! I think that would be a great contribution, I am not sure what that would look exactly like yet though.

Maybe we can start with basics like bytes transmitted/received.

One thing you could do right now is set a custom logger and look at all the log messages we emit. You can pass in the constructor your own Logger instance and then process

[2019-11-10 09:29] #120 closed

[2019-11-10 09:30] #35 closed

[2019-11-10 16:25] hjames9 commented on #139
@Sean-Der Thanks Sean, I'll take a look at some of this and come back if I have questions.

Thanks @daenney and @rumpelsepp for spending the time on the review

[2019-11-10 16:27] hjames9 commented on #133
@Sean-Der I was thinking of maybe tackling RSA certificate support.   Is there anything in particular you were weary about with this implementation?

[2019-11-10 16:42] hjames9 commented on #132
@daenney Understood your explanation on alerting i.e. should only be diagnostic and should be fatal for the session if used, but in general is not a best practice.

@Sean-Der Keeping live statistics might be helpful in this situation.   I'll educate myself on how crypto/tls handles it and see if anything useful can be replicated.

Thanks!

[2019-11-10 16:50] hjames9 commented on #139
@Sean-Der Would you be able to create a new version tag (1.5.4?) with this change?  I'd like to incorporate the change into go-coap.  Thanks!

[2019-11-10 19:52] Sean-Der commented on #139
@hjames9 done!

I am going to work on getting #99 into a `v2` branch now (which will eventually become master and our `v2.0.0`)

@daenney @rumpelsepp we can take this conversation else where, but do you have any changes that break the public API you would like to do? I am in no rush, but would be great to get #99 into master and only break people once.

[2019-11-10 19:56] Sean-Der commented on #133
@hjames9 if you copy/change what @rumpelsepp did it should be perfect!

So excited you are contributing, are you interested in being involved long term? I can add you to the Pion organization, then you can merge your own PRs after one approval (and you can approve others!)

Also if you want quicker responses I am on [slack](pion.ly/slack) 24/7 :)

[2019-11-10 20:16] hjames9 commented on #133
@Sean-Der Great!  I'll submit a PR adding RSA support modeling what @rumpelsepp has done, which can be used to close out this ticket.

Would love to join Pion, and I will also hop on Slack.  Thanks!

[2019-11-10 21:27] rumpelsepp commented on #133
I think rsa is not that easy as ed25519, since there are multiple signature formats available and these need to be marshalled with asn1. I need to read the rfc though…

[2019-11-11 09:16] Sean-Der commented on #138
Closing since ChangeCipherSpec isn't meant to be encrypted (last packet sent before encryption)

The lack of a state machine (and us handling packets out of order) is a concern though, I am going to create some other tickets for this!

[2019-11-11 09:16] #138 closed

[2019-11-11 09:20] Sean-Der opened #143 "Use single state machine when handling packets in `conn.go`"
Credit to @ic0ns @pfg666 and @jurajsomorovsky for this report, thank you!

----

It is hard to analyze the code because we have so much state (and all the ways they interact with each other). We should introduce a single state machine that has a clear progression so that the code is cleaner and is easier to analyze.

[2019-11-11 09:21] Sean-Der opened #144 "Incorrect constant for TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA"
Credit to @ic0ns @pfg666 and @jurajsomorovsky for this report, thank you!

----

Should be 0xC014 instead of 0x0035

[2019-11-11 09:25] Sean-Der opened #145 "Don't decrypt packets without receiving a ChangeCipherSpec first"
Credit to @ic0ns @pfg666 and @jurajsomorovsky for this report, thank you!

---

We should just discard all messages in epoch 1 until we have gotten a `ChangeCipherSpec`.

The only time I could see this being an issue is if you had a `NULL` ciphersuite, since incoming packets aren't handled until we have local crypto state there shouldn't be any harm.

[2019-11-11 09:36] Sean-Der opened #146 "Add sliding window replay detection for ApplicationData"
Credit to @ic0ns @pfg666 and @jurajsomorovsky for this report, thank you!

---

Implement https://tools.ietf.org/html/rfc6347#section-4.1.2.6

There is no threat during the handshake (random data protects against replays) but currently we are depending on the layer above (SCTP in the WebRTC case for this)

[2019-11-12 09:15] daenney opened #147 "v2 release tracker"
This is here to aggregate issues/PRs we'd like to see in v2:

* [x] #142 certificate chain validation
* [x] #148 crypto/tls ergonomics
* [x] #11 E2E tests with OpenSSL
* [x] Allow context.Context where it makes sense for cancellation etc.

[2019-11-12 09:16] daenney commented on #139
@Sean-Der I've spawned #147 to have that convo instead!

[2019-11-12 09:18] daenney opened #148 "Bring us closer to crypto/tls"
As part of v2 I'd like us to take some time and see if there's more of crypto/tls we can reuse. Mostly want to ensure we don't diverge from interafces and behaviour in crypto/tls unless mandated by the DTLS RFCs. This should help newcomers to immediately get started with pion/dtls as it's hopefully just swapping out crypto/tls for pion/dtls.

[2019-11-12 20:21] Sean-Der commented on #147
This is fantastic @daenney, thanks for starting! I will work on getting #142 done

Also can probably grab #11. I also want to introduce loss/jitter, might help bring out any bugs we have also.

[2019-11-12 22:54] #144 closed

[2019-11-13 14:27] TetraSomia opened #150 "Adding Basic I/O abstraction"
## Summary

Adding a BIO (Basic I/O abstraction) data structure in order to provide custom read and write callbacks. Those callbacks would be called in `conn.go`.

## Motivation

This would allow users to perform DTLS operations over other IO than the default Network Socket (from `x/net`). We can mention alternatives such as files, memory buffers, or a custom UDP/IP stack implementation.

## Descr

[2019-11-13 15:03] daenney commented on #150
What's the purpose/use case of applying DTLS to files or in-memory buffers? DTLS's whole thing is TLS for datagram transports. Introducing an abstraction to support non-datagram transports doesn't seem all that useful and a potential source of complexity.

If one wants to apply TLS to files or in-memory buffers, both of which are stream oriented "transports", why not use `crypto/tls`?

[2019-11-13 15:15] TetraSomia commented on #150
Hello, you're right, I was mentioning cases from the openssl wiki, the personal reason for this request is because I'm using an IOT custom UDP/IP stack that does not provide Berkeley sockets.

[2019-11-13 16:28] backkem commented on #150
You can already do this. In construction of a `dtls.Conn` you can provide the `nextConn`. This `nextConn` is a `net.Conn`. You can therefore layer the dtls implementation on top of any `net.Conn` implementation, including `net.UDPConn` (or `ice.Conn` in case of pion/webrtc). The [dial](https://github.com/pion/dtls/blob/master/examples/dial/main.go) and [listen](https://github.com/pion/dtls/blob/ma

[2019-11-13 17:22] TetraSomia commented on #150
Oh exact my bad! Thanks a lot for the answers and help.

[2019-11-13 17:22] #150 closed

[2019-11-21 02:08] Sean-Der opened #151 "How to be notified when *dtls.Conn is closed/Connection state"
This is open for discussion, but in `pion/dtls` I want to be notified when the DTLS Conn is closed. The read is happening on the other side of the code base, so the return value isn't really useful. It also doesn't feel right to me to call `Read()` and possibly have it hang if I just want to get the current state.

I don't have anyone reading/writing from the DTLS connection, but eventually I will

[2019-11-21 10:10] daenney commented on #151
The problem I see with this is that we can never reliably know if a connection is closed, since there is no connection. We're just screaming into the void hoping someone is listening on the other side. If I look at the RFC there's also nothing in there about detecting this, since it's not any different from a generic network failure from the DTLS point of view . We'd need a mechanism at the applic

[2019-11-21 18:22] rumpelsepp commented on #151
Isn't there heartbeat specified for DTLS for these kind of issues?
https://tools.ietf.org/html/rfc6520

[2019-11-21 18:29] daenney commented on #151
I hadn't seen that before! It turns out we made a decision before in #15 to not implement this though. It appears to have some security implications, being at the core of Heartbleed.

[2019-11-21 18:31] rumpelsepp commented on #151
what are these exactly? heartbleed was an implementation mistake. the RFC states:

[2019-11-21 18:32] daenney commented on #151
Heartbleed was an implementation mistake on the heartbeat mechanism. As pointed out in #15, at least LibreSSL pulled support for the mechanism entirely over it.

[2019-11-21 18:35] rumpelsepp commented on #151
That's the point. The concept of keepalives is fine. For DTLS stuff it even makes a lot of sense. The OpenBSD folks striped it out, since they want to reduce code complexity.

IIRC gnutls supports it.

[2019-11-22 08:17] Sean-Der commented on #151
I just need a `OnClose` or some sort of status callback. DTLS already closes for me (I have a reliable connection over WebRTC) and a loss of connection is handled by ICE.

When the other side closes we get an encrypted alert, and it properly shuts everything down.

We can add the heartbeats though! I am not against it, just doesn't provide any value for me for the issue I am trying to solve curren

[2019-11-22 08:33] rumpelsepp commented on #151
Ah. I see. I figure, we are on our own here. One idea though might be looking at the go-quic implementation. They might come into simalar problems.

https://github.com/lucas-clemente/quic-go

[2019-11-23 01:57] Sean-Der commented on #151
@rumpelsepp what do you think of doing something like `RequestWithContext` ? https://golang.org/pkg/net/http/#NewRequestWithContext

[2019-11-23 01:58] Sean-Der commented on #151
IMO we should make it the default also, and `Server` and `Client` should both take it as an argument.

[2019-11-23 08:38] #53 closed

[2019-11-25 07:28] rumpelsepp commented on #151
IIRC context helps you to signal spawned children (goroutines) all at once from the caller (aka tree root). It is not possible to propagate the information the tree up to that caller. How does this help if the error happens deep in the calling stack?

[2019-12-17 20:28] Sean-Der opened #163 "Improve error handling to be more inline with `crypto/tls`"
Our error handling is causing flakey test runs for `pion/dtls`. The output from `Conn.Close()` isn't consistent between runs, because internally we have racey behavior for setting the global error.

#### Current Behavior
We have one global error `connErr`, every time we have any kind of error. This `connErr` is then polled when doing a `Read`/`Write`/`Close`

This is an issue because `Close` could

[2019-12-17 20:29] Sean-Der commented on #163
@daenney @at-wat What do you think of this? I can try to explain more if anything still needs work, this is causing big problems across all of the `pion/webrtc` tests for a while now.

[2019-12-17 20:29] Sean-Der commented on #163
HUGE thank you to @at-wat for figuring out this issue, really impressive that you dug into this and figure it out. I don't think I could have gotten to the bottom of it like you did.

[2019-12-18 02:15] at-wat commented on #163
@Sean-Der thanks!

I roughly read `crypto/tls/conn.go`.
How about the following?:

- Failing the handshake will set `handshakeErr`
- Calling `Read` will
  1. check `handshakeErr` and return it if non `nil`
  2. check connection and return `io.EOF` if closed
  3. check `readErr` and return it if non `nil`
- Calling `Write` will
  1. check connection and return `ErrClosed` if closed
  2. check `hand

[2019-12-18 08:45] daenney commented on #163
@Sean-Der Makes a lot of sense to me, and I like the idea of splitting these errors out. Have one error entity be responsible for all kinds of different errors is usually problematic, and tends to make code that needs to know what type of error it really is quite messy to write.

What @at-wat is proposing sounds sensible to me. What I don't understand is why on `Write` a closed connection should r

[2019-12-18 09:14] at-wat commented on #163
@daenney I think making behaviour as same as possible with `crypto/tls` may be one of the way to reduce confusion. In `crypto/tls`, `Conn.Read` looks returning `io.EOF` on close and `Conn.Write` returns `TCPConn` return values directly.
https://github.com/golang/go/blob/0377f061687771eddfe8de78d6c40e17d6b21a39/src/crypto/tls/conn.go#L1245-L1257
But, yes, we can change it to improve usability.

[2019-12-18 09:23] daenney commented on #163
That's a fair point, I hadn't seen that bit in crypto/tls yet.

[2019-12-18 09:29] Sean-Der commented on #163
Have made some decent progress, but hit some annoyances.

* We should just drop the `inboundLoop`, then we can just return read errors right back to the user
I don't know how to do this yet, but we should investigate it. This also would remove a whole copy + routine.

* `net.Pipe` makes it hard to test
When one side closes the other side gets an `io.EOF` I need to write some sort of shim so each s

[2019-12-18 11:56] at-wat commented on #163
I'll add one for this.

[2019-12-19 08:11] Sean-Der commented on #163
Ok the first part landed, step in the right direction but still needs some work!

I am going to continue work on
* Remove `inboundLoop`, we should only read packets when `Read()` is called. This will reduce a lot of complexity.
* Add tests that assert `Read`/`Write`/`Close` behave as expected.

[2020-01-18 11:09] at-wat opened #178 "TestPionE2ESimplePSK is flaky"
On CI environment, `TestPionE2ESimplePSK` sometimes fail due to timeout.

[code]

[2020-01-30 04:40] Sean-Der commented on #147
@daenney @jkralik @rumpelsepp I took some time off and I would like to get this done by Sunday! I just finished releasing a new version of TURN, and would like to get this done as well. Then I can concentrate more on WebRTC.

* Is there anything I can do for #148, I don't have any changes personally.
* What do you think of updating Client/Server to take a context? I need a way to be notified that

[2020-01-30 09:51] jkralik commented on #147
Hi @Sean-Der
- #148 for this version it is good enough I think
- `Context` is very nice for propagation cancellation and I used it. eg: for now I must have own layer with `Context` over `net.Conn` but if `Context` will be integrated directly do dtls, then I can remove the layer for dtls.

[2020-02-01 05:42] Sean-Der commented on #147
@jkralik that is really exciting that are using `Context` already! In your opinion what would be the best API/things that you want to make sure it can do?

I don't really work with the `pion/dtls` public API. I dropped it into `pion/webrtc` and I really haven't touched it since.

[2020-02-01 16:39] at-wat commented on #148
I have take a look around `crypto/tls`.
Followings are my suggestion to make `pion/dtls` closer to `crypto/tls`

## Unexpose or move non-DTLS things
### type Closer
It is a package internal utility. It would be better to be unexposed.

### func GenerateSelfSigned(), func SelfSign()
They are for testing and not DTLS specific. It would be better to be unexposed or moved it to somewhere.

### func Fi

[2020-02-02 14:33] at-wat commented on #148
Maybe better to move `Fingerprint` and also `HashAlgorithm` under `pkg/crypto`?

[2020-02-03 07:02] at-wat commented on #148
## Behavior
### type Listener (#181) ✅
- Accepted connections should be available after `Listener.Close()`.

### type Conn (#184) ✅
Pass `nettest.ConnTest`.
- `Read` should return already buffered data even after the connection is closed.
- `SetDeadline` should be implemented.

[2020-02-03 08:19] at-wat commented on #148
@daenney @rumpelsepp @jkralik @Sean-Der I have created some PRs to make public APIs more closer to `crypto/tls`. Please add comments if you have any ideas on them.

[2020-02-07 13:21] daenney commented on #148
I noticed something in the Go 1.14 releases:

* [ ]: The new CipherSuites and InsecureCipherSuites functions return a list of currently implemented cipher suites
* [ ]: The new CipherSuiteName function returns a name for a cipher suite ID

Might be nice if we provide these too. `CipherSuiteName()` can be implemented by calling `CipherSuite.String()`, since we already have that one.

CipherSuites a

[2020-02-08 19:10] daenney opened #188 "Plans for DTLS 1.3"
I stumbled across https://datatracker.ietf.org/doc/draft-ietf-tls-dtls13/ today. Looks like it's on its way now.

I took a stroll through the spec, and https://tools.ietf.org/html/draft-ietf-tls-dtls13-34#section-12 has the changed compared to DTLS v1.2. I'm copying it here for good meassure:

   -  New handshake pattern, which leads to a shorter message exchange
   -  Only AEAD ciphers are suppor

[2020-02-10 01:19] at-wat commented on #148
I think this has been landed, isn't it?

[2020-02-10 01:23] at-wat commented on #163
Read/Write behavior after the error and Close is now compatible with net.Conn. (https://github.com/pion/dtls/pull/184) (https://github.com/pion/dtls/pull/184)

[2020-02-10 09:19] daenney commented on #148
Sure looks like it :tada:.

[2020-02-10 09:22] daenney commented on #163
I'm going to go ahead and close this, just to clean up the issue tracker a bit. @Sean-Der if you feel we missed something as part of #184 go ahead and re-open it.

[2020-02-10 09:22] #163 closed

[2020-02-10 14:37] at-wat opened #189 "context.Context based cancellation"
Proposed at https://github.com/pion/dtls/issues/147.

https://github.com/pion/dtls/issues/147#issuecomment-580080132

[2020-02-10 15:06] at-wat commented on #189
It's also related to https://github.com/pion/dtls/issues/151 and https://github.com/pion/dtls/issues/163#issuecomment-567383197.

One of the related problem of the current `Client()/Server()/Dial()` is that `Conn` is returned before it gets available.
I prefer to make these functions blocking until the DTLS handshake is completed, so that the caller must call it with context with proper timeout or

[2020-02-10 15:37] at-wat commented on #189
Adding `ctx context.Context` makes the API different from `crypto/tls`.
We can also keep the current `Dial/Client/Server` and add `DialWithContext/ClientWithContext/ServerWithContext`.

[2020-02-10 16:34] daenney commented on #189
I'd vote for the second option, adding the `WithContext` methods. There's a pretty decent precedent in `net/http` for doing that, and I'd prefer to not have our exported methods that share a name with `crypto/tls` diverge.

[2020-02-10 16:35] daenney commented on #189
On `net.Dialer` though you can already pass in a `context`, so perhaps it's not needed?

[2020-02-10 17:23] at-wat commented on #189
`Dialer` sounds that is only for `Dial`, but we have to do the same things on `Cilent` and `Server`. And, most of the things in `Dialer` can be provided by `Config`.
So, I think `Dialer` is not very useful for us.

[2020-02-10 18:35] Sean-Der commented on #151
Closing for #189

[2020-02-11 12:58] adwpc opened #190 "Can't accept new conn if first conn do not call Read()"
https://github.com/pion/dtls/blob/34883a71275c351e804377df69a318fe4c2edc10/internal/net/udp/conn.go#L129

can't accept new conn if first conn do not call Read()

https://github.com/pion/dtls/blob/34883a71275c351e804377df69a318fe4c2edc10/internal/net/udp/conn.go#L180

[2020-02-11 13:15] at-wat commented on #148
:tada:

[2020-02-11 13:15] #148 closed

[2020-02-11 13:25] adwpc commented on #190
https://github.com/p9c/kcp/blob/b7d5985a4fa3ccea6dfe8d276a6946c44f736362/readloop_linux.go#L117

ReadBatch api may be a good performance

[2020-02-11 14:32] at-wat commented on #189
I made a draft PR at #191.

One problem is that `Listener.Accept` internally calls `Server`, but `Accept` can't take `context.Context` as it waits until a new connection is requested from outside.

[2020-02-11 14:51] at-wat commented on #189
## To be discussed

### ConnectTimeout config
Having timeout both by `context.Context` and `dtls.Config` is confusing.
However, as `Accept` should internally start connection timeout timer, it can't receive `context.Context`. In addition, listener is an implementation of `net.Listener` now, adding a new method makes it diverged from `tls.Conn`.

### Error value on timeout
Currently, `errConnectTim

[2020-02-11 16:30] at-wat commented on #189
Adding a
[code]
to `dtls.Config` and doing
[code]
[code]
allows to Inherit the parent context to `listener.Accept()` internal context.

[2020-02-12 05:49] at-wat commented on #189
@daenney @Sean-Der how do you think these APIs?

[2020-02-14 21:44] Sean-Der commented on #190
@adwpc nice find, I can look into this! I consider this a bug, I think people expect this work like Go's http server (you can have multiple going at a time)

[2020-02-15 13:19] #189 closed

[2020-02-15 14:56] at-wat commented on #147
I think E2E test with openssl would be awesome to have, but not a release-blocker.
Is there any API or behavior breaking change to be have?

[2020-02-15 17:59] daenney commented on #147
I don't believe so. I've just tagged v2.0.0-rc.6 so if people want to go ahead and try that out, now would be a good time.

One thing I seem to remember though, aren't we going to have to move all our code under a v2 directory for Go modules to work correctly? Since the version past 1.x becomes part of the import path.

[2020-02-15 18:00] daenney commented on #147
It would be nice to fix #190 before we issue a final for v2.0.0.

[2020-02-15 18:16] at-wat commented on #147
Users disabling modules still be able to vendor the repository by any git ref and import without v2 suffix. So, I don't think it's necessary to make v2 directory.

[2020-02-15 18:33] daenney commented on #147
Fair enough. And we do only support Go version that also support Go Modules, so I guess this is fine.

[2020-02-20 11:04] at-wat opened #195 "Send close_notify as warning level"
`pion/dtls` sends `close_notify` as fatal level at now, but OpenSSL sends `close_notify` as warning level. OpenSSL shows `close_notify` from `pion/dtls` as an error log.

`close_notify` was specified as warning level in TLS 1.0 RFC.
Later TLS RFC doesn't explicitly specify the level of `close_notify`.

https://tools.ietf.org/html/rfc2246#section-7.2.1

TLS 1.1 RFC
https://tools.ietf.org/html/rfc43

[2020-02-21 02:05] at-wat opened #197 "Respond to close_notify with close_notify"
https://tools.ietf.org/html/rfc5246#section-7.2.1

`The other party MUST respond with a close_notify`

https://github.com/pion/dtls/blob/34ebfdba22d430240630610d70edf371d8b121fc/conn.go#L667-L672

[2020-02-21 02:52] at-wat commented on #195
In RFC 5246, server/client must respond to a incoming close_notify with a close_notify of its own. As both parties immediately close the connection on fetal alert, sending close_notify as fetal can't adapt the protocol spec.

[2020-02-21 05:51] #195 closed

[2020-02-21 10:13] daenney commented on #197
Maybe we don't need to raise an issue, if you're immediately going to submit a PR to fix it? It causes a lot of noise in my GitHub notifications, so I'm wondering what the thought behind doing this is. The PR itself can also contain all the details?

[2020-02-21 21:12] cohosh opened #199 "CCM ciphersuite causes a lot of CPU load"
### Your environment.
  - Version: v2.1.18
  - Browser: N/A (Snowflake)
  - Other Information: CPU profiling output given below

### What did you do?
We've been running Snowflake with the pion/webrtc library for a while now. We noticed that our Snowflake proxies were using a lot more CPU than expected in sending and receiving WebRTC messages.

More info on snowflake: https://snowflake.torproject.o

[2020-02-21 21:18] Sean-Der commented on #199
My guess is [this list](https://github.com/pion/dtls/blob/master/cipher_suite.go#L116) is used backwards, and we are preferring the wrong CipherSuites.

I will look into that, and make sure we get a test in. Thanks for filing this @cohosh! I doubt we will ever get close to beating GCM Go, the stdlib use AES-NI and has a bunch of scrutiny :)

[2020-02-21 21:21] cohosh commented on #199
Yep, that seems plausible. This is pion-to-pion traffic so the ciphersuite used **should** be the highest priority one listed there.

[2020-02-21 21:24] cohosh commented on #199
It could also be that [https://github.com/pion/dtls/blob/master/cipher_suite.go#L127](this list of all cipher suites) is being used instead.

[2020-02-21 22:23] Sean-Der commented on #199
@cohosh Fixed! Mind reviewing that PR, I will merge + tag across.

[2020-02-21 22:27] Sean-Der commented on #199
![Screen Shot 2020-02-21 at 2 26 26 PM](https://user-images.githubusercontent.com/1302304/75076978-50869600-54b6-11ea-8607-a246340531f0.png)

[2020-02-21 22:29] Sean-Der commented on #199
@daenney @at-wat @igolaizola @cohosh I also have moved GCM above CBC. I wanted to add everyone, this feels like something we should have consensus on.

My motivation is
* Matches Chromium/FireFox
* In most cases will be faster for users

I have attached a screenshot above showing Chromium Nightly's current values.

[2020-02-21 23:52] cohosh commented on #199
Nice, thanks @Sean-Der ! I'll take a look at this and get back to you later tonight.

[2020-02-22 03:28] #197 closed

[2020-02-22 11:18] daenney commented on #199
CCM should really not have been advertised or picked by default at all. That was only added in DTLS in order to support some IoT use-cases, b/c among other things the CoAP RFC requires it.

@Sean-Der I'd vote we add a second change, dropping any CCM suite from the defaults.

[2020-02-22 11:21] daenney commented on #199
W.r.t optimising CCM, that's not really been undertaken yet b/c it would probably mean having to drop down to assembly. That's a maintenance burden and potential massive source of security issues I don't want to incur just yet.

[2020-02-22 14:53] cohosh commented on #199
Thanks for taking care of this, the changes solve the issue we were having at our end :)

[2020-02-22 19:44] Sean-Der commented on #199
@daenney done! opened PR and added you as @jkralik as reviewer.

[2020-02-23 04:32] #199 closed

[2020-02-24 09:48] daenney opened #202 "TestContextConfig tests print some errors"
[code]

Seeing a `dtls ERROR` but then the test passes is a bit confusing.

[2020-02-24 20:00] igolaizola commented on #11
OpenSSL tests have been added in https://github.com/pion/dtls/pull/193

TODO:
- [ ] Make OpenSSL work with ed25519 test

[2020-02-28 17:25] at-wat opened #205 "Refactor handshake state machine"
ref: https://github.com/pion/dtls/issues/143

- Implement DTLS Timeout and Retransmission State Machine as specified in https://tools.ietf.org/html/rfc6347#page-22
  - Fix retransmission conditions
  - FIx handshake exit condition
- Refactor incoming handshake packet handling
  - Split all-in-one function to per-state function/interfaces

[2020-03-02 06:47] at-wat commented on #205
Implementation of the state machine described in https://tools.ietf.org/html/rfc6347#page-22 is almost done. I'll open PR within a few days.

[2020-03-02 08:43] Sean-Der commented on #205
That's fantastic news @at-wat! The code base totally grew organically, so excited to see that get cleaned up :)

[2020-03-05 06:49] #143 closed

[2020-03-05 06:49] #145 closed

[2020-03-05 06:49] #205 closed

[2020-03-07 15:37] at-wat commented on #178
Seems still flaky.
[code]
The panic seems caused by the problem in Go 1.12 testing package (in `FailNow()` func).
Anyway, it entered
[code]

[2020-03-07 21:18] Sean-Der commented on #188
This is really exciting! Some random thoughts I had.

### We should join the IETF list and see if we can help.
Would be so exciting if Pion DTLS could make prototyping/building DTLS implementations faster.

### Put flights in separate packages
@at-wat split out all the code for flights into their own things. We can take advantage of this and have separate flights for 1.2 and 1.3 in their own packa

[2020-03-08 00:08] #146 closed

[2020-03-08 03:36] at-wat commented on #3
https://tools.ietf.org/html/rfc6347#section-4.2.1

[2020-03-08 16:20] at-wat opened #216 "Move replaydetector and deadline internal packages to pion/transport"
pion/srtp also need to have replay protection. As DTLS and SRTP is completely independent, `replaydetector` should be in the other package.
https://github.com/pion/transport/pull/59

`deadline` internal package helps to implement `net.Conn.SetDeadline` and makes Conn compatible with `net.Conn`. `pion/transport/test.bridgeConn` and `pion/transport/packetio.Buffer` would also be better to be compati

[2020-03-09 11:06] at-wat opened #219 "TestNetTest/BasicIO sometimes fail"
[code]
One packet just before `Close()` seems been lost.

It's reproduced on local `go test` by roughly 1% frequency.

[2020-03-09 11:08] #3 closed

[2020-03-10 10:01] at-wat commented on #178
[code]
The e2e tests uses selected port among all test cases in each test. It may cause conflict of the port.

[2020-03-11 17:33] at-wat commented on #11
I found that our implementation of Ed25519 signature calculation and hash used in `ServerKeyExchange`/`CertificateVerify` messages are wrong. Since both of our server and client have same bug, they can communicate each other.
I have made a fix for it, and now I'm cleaning the code.

One bad news is that OpenSSL haven't support DTLS Ed25519 yet.
I could confirm my fix works with this openssl branch

[2020-03-12 10:42] at-wat commented on #11
Ed25519 implementation of the master branch should be fixed now. We can enable the E2E test once OpenSSL supports DTLS 1.2 Ed25519.

[2020-03-12 10:53] daenney commented on #147
Alright. Officially we've done all the things we said we wanted to do for v2. However, @at-wat and I are still working on some improvements, so I'd like to hold off a bit before we tag an actual v2. I'll tag a new rc after the weekend, and unless something big comes up after that we can move to actually releasing v2.

[2020-03-12 11:06] #178 closed

[2020-03-20 06:02] Sean-Der commented on #147
@daenney @at-wat I am all for announcing/releasing!

It would be great to get something on twitter, we always get new eyes on the project so that is exciting :)

[2020-03-20 06:33] #219 closed

[2020-03-20 09:30] daenney commented on #147
Sure. I kinda flaked on my duties here b/c $dayjob has been keeping me busy. Pandemic hasn't helped either. I'm hoping to have some time this weekend to go over one last change I want to make, and issue a new rc.

[2020-03-20 09:56] genofire opened #228 "undefined: curve25519.X25519"
go version go1.14 linux/amd64

src/github.com/pion/dtls/prf.go:72:10: undefined: curve25519.X25519

[2020-03-20 10:19] daenney commented on #228
Something seems weird with your build. curve25519.X22519 is defined in https://godoc.org/golang.org/x/crypto/curve25519, which we import, and is part of x/crypto that's in go.mod.

[2020-03-20 10:24] daenney commented on #228
The version of x/crypto we use is at commit `2aa609cf4a9d`, which has the `X25519` method: https://github.com/golang/crypto/blob/2aa609cf4a9d7d1126360de73b55b6002f9e052a/curve25519/curve25519.go#L67

[2020-03-20 11:05] genofire commented on #228
ups, sry - ` go mod download` helps
... you still keep it in mind on updating dependencies?

[2020-03-20 11:05] #228 closed

[2020-03-22 16:21] #190 closed

[2020-03-22 16:21] #216 closed

[2020-03-22 16:50] daenney commented on #147
Tagged and released rc.8: https://github.com/pion/dtls/releases/tag/v2.0.0-rc.8

[2020-03-22 17:06] daenney commented on #147
Question, do we drop Go 1.12 support now that 1.14 is out, and as such merge #158, or do we keep it in place for a bit longer?

[2020-03-23 12:30] wk331100 opened #234 "When multi UDP request comming, The Server will crash"
### Your environment.
  - Version:  The latest Pion\dtls
  - Server:  Centos7
  - Test command: nc -nvz -u 127.0.0.1 4444  form Centos 6.5

### What did you do?

Run the Server from examles/listen/main.go.   when run the command ` nc -nvz -u 127.0.0.1 4444`, The Server crashed.  I have add `continue` in listen/main.go.  run `nc`  agin , The server cannot be connected by other correct client any mo

[2020-03-23 12:55] at-wat commented on #234
This seems a bug of the example.

[code]
should be correct.

[2020-03-23 21:48] #234 closed

[2020-03-23 21:52] at-wat commented on #234
@wk331100 Now the example on master branch is fixed. Feel free to reopen if the problem still exist.

[2020-03-23 23:31] at-wat commented on #147
I'm going to make v2.0.0-rc.9 to fix a problem with `pion/webrtc` https://github.com/pion/webrtc/pull/1092.

[2020-03-25 20:05] daenney commented on #147
I'd like to tag v2.0.0 on Tuesday the 31st of March.

I'm going to break Go 1.12 support, and as such merge #158. Without at least Go 1.13 crypto/x509 `MarshalPKCS8PrivateKey()` can't use ed25519 keys which stops us from being able to complete End-to-End testing. There's probably more cases where people want to use ed25519 keys

If people are unhappy with this, I can do the following instead:

- T

[2020-03-25 21:08] Sean-Der commented on #147
I say we break 1.12, if users need to support older versions they can pin still at least!

It just adds a burden on us to support it (and that time could be better spend elsewhere) I think my vote only counts as 1/2 though. You and @at-wat do so much more then me :)

[2020-03-25 21:09] daenney commented on #147
I'm mostly concerned about inadvertently breaking something in the webrtc parts of Pion. I have no exposure to that, trying to be careful not to cause problems for the rest :smile:.

[2020-03-25 21:12] Sean-Der commented on #147
Appreciate the thought :)

I say don't worry about it, since the public API isn't changing they can just pin to an older version! If anyone brings it up in Slack I will just tell them to pin to the last RC.

[2020-03-26 02:12] at-wat commented on #147
I have no objection to immediately drop Go 1.12.
I'll merge https://github.com/pion/.goassets/pull/15 and sync asset files.

[2020-03-28 15:26] daenney commented on #133
I'm going to close this issue. If people want to support additional key types then PRs are always welcome. If people want to submit a PR to clarify that we only support the RSA in certain situations, that's also fine and appreciated.

[2020-03-28 15:26] #133 closed

[2020-04-01 08:07] daenney opened #243 "Race condition in replay protection"
CI for x/crypto bump in #241 fails with:

[code]

Ping @at-wat

[2020-04-01 08:08] daenney commented on #243
Logs: https://travis-ci.org/github/pion/dtls/builds/669491797

[2020-04-01 10:11] at-wat commented on #243
This data race occurred at `sync.WaitGroup` used in the test code, not in the replay protection implementation.
I'll fix it anyway.

[2020-04-01 10:20] daenney commented on #243
Ah, good, I missed that. Thanks!

[2020-04-01 10:31] #243 closed

[2020-04-11 04:28] at-wat commented on #147
I'm going to create rc.10 pre-release. I believe it's ready for v2.0.0.

## API changes (make it closer to crypto/tls)
- Replace Conn.Export() by Conn.ConnectionState() (#237)
- Move ExportKeyingMaterial() from Conn to State (#240)

## Fix
- Fix Conn.RemoteAddr() (#247)

[2020-04-11 13:03] daenney commented on #147
Given the Easter holidays in some parts of the world lets tag v2.0.0 on Thursday?

[2020-04-21 10:37] igolaizola commented on #147
Should we wait more to tag v2.0.0?

[2020-04-21 11:02] daenney commented on #147
I'm not aware of anything holding us up, so I think we're good to go. This whole pandemic threw me a bit of schedule and I spaced. I'll get this done this Thursday.

[2020-04-23 18:47] daenney commented on #147
https://github.com/pion/dtls/releases/tag/v2.0.0

[2020-04-23 18:47] #147 closed

[2020-04-23 19:39] glerchundi commented on #147
Fantastic team work!!!

[2020-04-25 01:34] at-wat commented on #147
Thanks for your work!
I'll add the details of the security fixes to the release note.

[2020-04-30 20:16] audiolion commented on #151
Discussed with @Sean-Der today in Pion Slack and this was not actually solved by #189 . Reopening issue.

If we add a Close handler we can let `pion/webrtc` know about the connection closing so graceful teardown happens immediately instead of after the timeout. While this won't work for all cases -- because not all webrtc implementations will be good citizens and send RTCP BYE when the connection

[2020-05-06 13:12] gordonklaus opened #253 "Establish new associations with existing parameters"
## Summary

[RFC 6347, section 4.2.8](https://tools.ietf.org/html/rfc6347#section-4.2.8) describes how a server can allow a client that has silently abandoned its connection to re-establish its association with the server.

## Motivation

The motivation is to support clients that silently abandon their connections with a pion/dtls server and then initiate new connections, e.g. after a reboot.  My

[2020-05-06 13:21] daenney commented on #253
I'm not a 100% sure I'm following. Are you saying that after a reboot your client is not able to reconnect to a server?

[2020-05-06 13:32] gordonklaus commented on #253
That's right.  It's a hard reset, i.e., the client doesn't get a chance to send a CloseNotify alert.

I've enabled logging in the server and it reports `discarded duplicated packet (epoch: 0, seq: 0)` when the client tries to reconnect.

The linked RFC section says the server should proceed with a new handshake in this case.

[2020-05-07 10:04] gordonklaus commented on #253
This issue is a blocker for my project.  I imagine it is relevant for others, as well.

An unsatisfactory workaround is to close the server after a timeout has expired.  The problem with this solution is that the timeout needs to be sufficiently large to avoid rehandshaking on every transmission.  But such a large timeout will mean reconnections after silently abandoning a connection will have sig

[2020-05-10 16:18] gordonklaus commented on #253
I'd like to get a confirmation of whether or not this feature would be accepted into the package before I put any work into implementing it.  Can you give some feedback, @daenney?

This feature feels a bit like renegotiation, but the RFC doesn't describe it that way.  Renegotiation is an explicitly excluded feature from this package, hence my uncertainty about acceptance.

I had a look at the code

[2020-05-11 04:44] hjames9 commented on #132
@Sean-Der Can you point me to where an API like this exists in crypto/tls?  I can try and replicate something similar here.

[2020-05-11 08:59] daenney commented on #253
I don't have any issue with it, though it's worth noting the RFC said "should", not "must", when it comes to supporting this feature. This would indicate to me clients should be able to somehow cope with the server not supporting this, but there's no information in the RFC as to what that would look like.

@at-wat @Sean-Der either of you have an idea?

[2020-05-11 11:30] gordonklaus commented on #253
I did a little research and found that OpenSSL [does not](https://github.com/openssl/openssl/issues/3283) support this and Mbed TLS [does](https://github.com/ARMmbed/mbedtls/issues/204).

Also from reading the discussions there I realized that a much easier workaround is to use an ephemeral source port in my client.  So this may end up being a non-issue for me after all.

[2020-05-11 12:04] gordonklaus commented on #253
Indeed, using an ephemeral source port worked for me.  Why didn't I think of that before?  😆

I leave it up to you guys whether this is something you want.

[2020-05-12 14:41] gordonklaus opened #254 "Server ignores handshake after queueing application data from client."
### Your environment.
  - Server: pion/dtls v2.0.0
  - Client: nRF9160 (Mbed TLS)

### What did you do?
- A client successfully handshakes with a server and sends application data.
- The server goes down, without notifying the client, then starts back up.
- The client continues to send application data.  The server log says:
[code]
- After not receiving a response for some time (application layer)

[2020-05-26 15:13] folbricht opened #255 "Closing connection on the server causes fatal error from Accept()"
### Your environment.
  - Version: v2.0.0
  - Browser: n/a
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?

- Start a server with an Accept() loop
- Have a client connect to the server and just Read() on the connection
- The server actively closes the connection

Server:
[code]

Client:
[code]

### What did you expec

[2020-05-26 15:49] at-wat commented on #255
Thanks for your report.
The bug seems be caused by following sequence:
[code]
I think `dtls.Listener` should not start handshake process if the first packet, which created `internal/net/udp.Conn`, is not `ClientHello`.

I agree for the case of `Accept()`. (`Accept()` internally calls `Server()`)
But for `Server(), Client(), Dial()`, handshake timeout should be fatal IMO.

[2020-05-26 15:59] glerchundi opened #256 "Plans for DTLS 1.2 Connection ID"
Hi everyone, first of all congrats for the job you all are doing here. You got to a point where the product is really strong and reliable. 👏

## Summary

* Support DTLS 1.2 Connection ID proposal: https://github.com/tlswg/dtls-conn-id
* RFC tracker: https://tools.ietf.org/html/draft-ietf-tls-dtls-connection-id

## Motivation

As we use DTLS 1.2 for our IoT fleet this would help using it on NATed e

[2020-05-26 16:01] at-wat commented on #255
Maybe adding a filter func, that determines whether the new conn should be made or not, to `internal.net.udp.ListenConfig struct` would be good.
https://github.com/pion/dtls/blob/52af2bfea38ea292b1f63b2067d3cb5aefd35430/internal/net/udp/conn.go#L96-L105

[2020-05-27 02:22] folbricht commented on #255
Sorry, I can't find a good way to add that in. Ideally it wouldn't even start `Server()` with this new conn. I don't see how to tell if it's a `ClientHello` that early on, without starting the handshake much later. Personally I'd probably keep the client reference for some time after `Close()` and drop further packets for a little while longer. Do you prefer your solution of adding a filter?

[2020-05-27 10:38] at-wat commented on #255
Created a PR to specify a filter func to low layer Accept.
https://github.com/pion/dtls/pull/257
I think this is better solution since if the server creates handshaker and all resources for any input packet, it decreases tolerance against DoS attack.

Making such error from `Accept()` temporary should be fixed by an another PR.

[2020-05-27 13:00] folbricht commented on #255
Thanks for that. Works as expected.

As for the error from `Accept()`, to avoid changing the FatalError that currently comes out of `Server()`, I was thinking of catching that, and re-wrapping the inner Err as a temporary error here: https://github.com/pion/dtls/blob/3028bdc24d38a2268d0d6513e0debf130d67ee4c/listener.go#L48-L52

[2020-06-02 14:04] #255 closed

[2020-06-15 20:32] tomandersen opened #262 "DTLS problem connecting to some servers (eg Alexa/KinesisVideo)"
### Your environment.
  - Version:
        github.com/pion/rtp v1.5.5
	github.com/pion/webrtc/v2 v2.2.15

  - Browser: N/A
  - Other Information -

[outAWSSTUN2.pcap.zip](https://github.com/pion/dtls/files/4782722/outAWSSTUN2.pcap.zip)

### What did you do?
I am trying to connect an Alexa device to pion webrtc. Could not get it to work, despite *hours* of webrtc experience ;). Sean helped me figur

[2020-06-16 00:31] Sean-Der commented on #256
@glerchundi I would love to do this!

I wasn't aware of the Connection ID work. This sounds really amazing, this could allow people to load balance WebRTC traffic finally.

[2020-06-16 00:38] Sean-Der opened #263 "`cache.fullPullMap` only works on first call when server skips Verify"
@at-wat I don't fully understand what is happening here, but just throwing out debugging so far.

In `flight1parse` we fall into the `flight3Parse` if we got a `handshakeTypeServerHello`. However this only works for me the first time. I don't get all the messages for `flight3Parse` to succeed, but it never gets executed again because `flight1parse` only gets a `handshakeTypeServerHello` once.

[co

[2020-06-16 01:29] bocajim opened #264 "How to share state between servers"
So I'm trying to migrate to using this DTLS library, and I need to be able to serialize and preserve the state of the DTLS connections.

Is the flow to use the Export method on a connection to get the state, and then Resume to resume it?

What would the recommended flow be for an application?

On each packet received export and save the state, and then on server startup retrieve the saved states a

[2020-06-16 04:51] Sean-Der commented on #264
Hey @bocajim!

Great work on your DTLS implementation. You inspired me a lot, convinced me that it was possible to implement DTLS in Go :) Even though if this cost me a month of my life reading OpenSSL code :p

We have [State](https://pkg.go.dev/github.com/pion/dtls?tab=doc#State)

You can pull this via [Export](https://pkg.go.dev/github.com/pion/dtls?tab=doc#Conn.Export) and start up again with [

[2020-06-16 05:42] #263 closed

[2020-06-16 05:43] Sean-Der commented on #262
Resolved by https://github.com/pion/dtls/commit/f813a7d8c1f492d711ca8be70a440ebbb0d911b2

[2020-06-16 05:43] #262 closed

[2020-06-16 07:26] igolaizola commented on #264
Hi @bocajim! Nice to see you here!

On v2 we changed the API to use [ConnectionState](https://pkg.go.dev/github.com/pion/dtls/v2?tab=doc#Conn.ConnectionState) instead of Export.
There are some examples on [resume_test.go](https://github.com/pion/dtls/blob/master/resume_test.go)

That's correct. But you should think first if performing a new handshake suits better for you or not. If due to resource

[2020-06-16 10:48] igolaizola opened #266 "Hybrid DTLS client: server goes down"
## Summary

Hybrid DTLS client connection that acts also as a server. It can accept a client hello, perform a full handshake and override the previous DTLS state with the new negotiated one.

## Motivation

DTLS doesn't have a way to detect that a connection went down on the other side. If a client goes down it can always start a new handshake against the server. However, if the server goes down i

[2020-06-16 15:05] tomandersen commented on #262
Thanks! I have tested this on our development platform and it works! I now get tracks coming in and no Alert LevelFatal: IllegalParameter messages.

[2020-06-16 17:38] bocajim commented on #264
Thanks for the feedback, last question on this, is there a way to do a "lazy load" of the State when a packet is received from a previously unknown remote address?  Use case is I have 25,000,000 concurrent DTLS sessions that send packets 4 times per day, so I don't want to keep all 25,000,000 sessions in memory, I want to use a cache like redis to hold them.  When a packet comes in I want to retri

[2020-06-17 08:52] igolaizola commented on #264
This sounds like a lot of IoT devices connected! I am working on a similar architecture but with a higher data frecuency. Our first approach will be to keep sessions in memory and use persistent storage to recover them (for example after a service graceful shutdown).

There isn't something like this on the library...

That will be your best choice. When this callback runs you could:

 - load the s

[2020-07-16 21:09] sipsorcery opened #274 "DTLS handshake failure with Bouncy Castle DTLS server"
The Bouncy Castle DTLS library will reject a client handshake if it does not support secure renegotiation [here](https://github.com/bcgit/bc-csharp/blob/5bd4c8c70f80f1e7ead8e3c73459b78eb93d0ef7/crypto/src/crypto/tls/DtlsServerProtocol.cs#L383) and [here](https://github.com/bcgit/bc-csharp/blob/5bd4c8c70f80f1e7ead8e3c73459b78eb93d0ef7/crypto/src/crypto/tls/AbstractTlsPeer.cs#L42). This results in a

[2020-07-16 21:27] sipsorcery commented on #274
Sadly I don't know enough about the intricacies of TLS either. Just thought I'd log it in case. It is possible to work around the issue in Bouncy Castle by overriding the fault notification but it's always a little bit worrisome overriding security mechanisms.

I guess I'll close the issue. If someone else encounters the same problem it might be helpful.

[2020-07-16 21:42] Sean-Der commented on #274
@sipsorcery I will take a deeper look, I do want to learn it more :) I would love for w/e you are building to be used against Pion! The more people using it the more bug reports we get.

I am assuming BouncyCastle assumes we support re-negotiations (which we don't). I bet other people have hit this before, I will figure it out!

[2020-07-21 09:01] GregorioDiStefano commented on #133
Reopening this instead of creating a new issue.

I noticed that when testing a webrtc implementation, pion DTLS ends up using `TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256` (first matching ciphersuite that matches server), but, since pion only generates a ECDSA signed certificate, the server ends up sending `ILLEGAL PARAMETER` and the handshake fails.

this clearly seems like a bug, and I believe instead

[2020-07-23 12:42] igolaizola opened #275 "Add support for multiple HelloVerifyRequest messages with different cookies"
## Summary

[RFC 6347 Section 4.2.1](https://tools.ietf.org/html/rfc6347#section-4.2.1) (just at the end of that section) says:

Since word `SHOULD` is used this is not mandatory but it might be good to follow the recommendation.

## Motivation

I was dealing with a custom DTLS server implementation that sometimes was sending extra HelloVerifyRequests with an updated cookie. As `pion/dtls` current

[2020-07-30 08:58] #275 closed

[2020-08-17 13:36] jkralik opened #279 "Listener doesn't process parallel handshakes"
### Your environment.
https://github.com/go-ocf/go-coap/issues/109

### What did you do?
Just look at last comment. But it seems that other handshakes waits each other.

### What did you expect?
dlts.Listener is able to process parallel handshakes.

[2020-08-19 00:48] Sean-Der commented on #279
The issue is [here](https://github.com/pion/dtls/blob/master/listener.go#L65). Every time we get a new inbound stream we block until the handshake is complete.

I don't know what the API should look like. For now I am going to write something quick out of tree that could work.

[2020-08-19 01:56] Sean-Der commented on #279
https://gist.github.com/Sean-Der/a3a6abbe9b78ced613590312a18dc8a4

@jkralik @boaks @jdbruijn this worked^ you just need to decide how many goroutines you are willing to spawn.

Maybe this should be something that Pion automatically does? I am not sure what is idiomatic.

[2020-08-19 05:19] jdbruijn commented on #279
I've checked in my test setup and also works there. See the readme of the repo I've just referenced this in. Will be testing this in my application code, but should work for the time being at lest. @Sean-Der Thanks so much for the quick analysis and fix.

I have no idea what is the idiomatic but I'll have a look at `crypto/tls` to see what they do. I can't imagine that handshakes would be blocking

[2020-08-19 16:19] daenney commented on #279
I'm probably misunderstanding the problem, but can't we use a buffered channel to get around this?

[code]

[2020-08-19 16:29] daenney commented on #279
Oh mm, the Accept is on dtls.Listener, so that triggers the whole handshake machinery. We should be able to Accept() on the underlying listener first and then spin the rest off into a goroutine? I suppose the problem is this: https://github.com/pion/dtls/blob/c6dbd482fa3a0a7655e9dc338a0f15be905cdf35/listener.go#L65? We do this inline, instead of spawning a goroutine there that'll then take care of

[2020-08-20 08:02] jkralik commented on #279
From my point view, spawning goroutine's below to underlayer of dtls/listener, because we want to have similar API as tls.Listener. and it is more convenient for using. Of course there must be option to limit spawned goroutines.

[2020-08-21 06:13] Sean-Der commented on #279
@daenney yep exactly!

@jkralik agree!

----
[Server](
https://github.com/golang/go/blob/master/src/crypto/tls/tls.go#L35-L41) in `crypto/tls` doesn't actually do anything so we need to match this API. Instead the first call to `Read` or `Write` should start the handshake.

[2020-08-21 06:17] Sean-Der commented on #279
It looks like we will need to do a `v3` and add [Handshake](https://golang.org/pkg/crypto/tls/#Conn.Handshake)

I can't believe I missed this before :( this is a pretty big breaking change, but I don't think it will be difficult to do!

[2020-10-07 06:09] jdbruijn opened #297 "Support both PKI and PSK (at the same time)"
## Summary

I'd like to use both PKI and PSK as a DTLS server, for different clients. So one client makes a connection and uses PKI and another client makes a connection and uses PSK. As these are different 'instances', so to speak, I don't see why this wouldn't be possible. I've seen in the config validation, `validateConfig` that it will give an error on `len(config.Certificates) > 0 && config.P

[2020-10-11 14:50] daenney commented on #297
Is there any prior art for a TLS server that accepts both for the same host:port tuple? I'm not aware of such a thing in the wild, even though theoretically it's possible. I can't get something like stunnel to support both at the same time, for example.

For PSK to provide any real value, you'd need to know the clients upfront, and configure each one with a different key. Otherwise it's just one b

[2020-10-15 11:20] jdbruijn commented on #297
Thanks for your feedback. I have not seen it in the wild either but thought, why not? If it is at least somewhat easy (like don't have to change a > 5% part of the code base) to implement, I think it would be a nice feature. Do you have any idea whether that is the case or requires a lot more changes?

In this case each client will get its own key and the server, which is using pion/dtls, will get

[2020-10-15 13:58] daenney commented on #297
I don't know. I do think it's feasible. But the fact that nobody else seems to support it does have me wondering whether we're missing something that makes doing this undesirable, or if it's just inertia/nobody else has had the need.

[2020-10-24 20:20] beriberikix commented on #256
FWIW, here's an example of using CID for load balancing with an IoT protocol: https://github.com/eclipse/californium/tree/wip_dtls_cid_cluster/demo-apps/cf-extplugtest-server#built-in-dtls-connection-id-load-balancer-cluster /by @boaks

[2020-10-27 09:48] boaks commented on #256
You may check [WIP - CID](https://github.com/thomas-fossati/dtls/blob/master/CID.md).
AFAIK, that's based on pion-dtls.

[2020-11-23 10:15] fffilimonov commented on #274
Hi,

I had same issue developing a client for Jitsi server.
I did some fixes here #314

[2020-11-25 11:03] #274 closed

[2020-11-30 05:59] aaftio opened #319 "Mistake of SNI extention handling"
Maybe the code below is getting the server name from wrong place when the dtls server handling SNI extension.
I think the server should get the server name from the state of the connection, which variable name is `state` in this function scope. Am I right?

https://github.com/pion/dtls/blob/d01fc8597ebe97c464de6f45664a2340dd431bed/flight4handler.go#L204-L208

[2020-12-06 22:46] #297 closed

[2021-01-10 06:48] Sean-Der opened #333 "Move protocol to pkg"
I am going to move everything related to the protocol to a distinct package. This is drive for a few reasons/motivations.

* Allow users to define their own CipherSuites. See https://github.com/pion/dtls/pull/300
* Expose parsing to allow easier reuse for people writing tools
* Improves readability/maintainability making `/` smaller.

[2021-01-16 18:15] #333 closed

[2021-01-16 18:18] Sean-Der opened #336 "Move Error Types to `pkg`"
Then we can tag all error types. Right now we use `errors.New` when we should be marking as Fatal or Temporary.

[2021-01-16 21:12] #336 closed

[2021-01-16 21:50] Sean-Der opened #337 "Implement TLS_ECDH_ANON_WITH_AES_128_CBC_SHA256"
I am going to take the work @jkralik has already done into master.

The existing code is on this branch https://github.com/pion/dtls/tree/cipherSuiteFactory. The in a follow up PR I am going to add the `CipherSuiteFactory` to the config that allows people to pass anything that satisfies `dtls.CipherSuite`

[2021-01-17 10:41] daenney commented on #337
That sounds good. I'm happy with a generic mechanism that lets people use any/custom cipher suites (i.e stuff we don't need to implement ourselves) but I'd like to avoid explicitly supporting TLS_*_ANON_* ciphers in this library. Since that results in a connection where neither server or user it authenticated it's trivially MITMable.

[2021-01-17 11:35] jkralik commented on #337
@daenney Our library https://github.com/plgd-dev/sdk implements specification https://openconnectivity.org/specs/OCF_Security_Specification.pdf where ANON is used for Just-Works owenrship transfer method) (section 7.3.4.1). I understand your concerns, but we want to stick to the specifications.

[2021-01-18 06:39] Sean-Der commented on #319
Hey @aaftio  sorry I missed this.

I believe you are correct! I think this was broken in 863572a19148753458aeabcb177562b76f8a8ffd would you be interested in submitting a PR to fix this? It would also be great if you could write a failing test so this doesn't break again.

If you don't have the time to fix this mind just telling me, and I will fix when I get time!

thank you

[2021-01-18 10:15] daenney commented on #337
Ya no, absolutely. I should've said export instead of support. I'm fine with us having a facility for it, but I'd rather not carry ANON ciphers in this library itself.

[2021-01-18 23:53] Sean-Der commented on #337
@daenney Totally agree, these are my motivations (and plans) hopefully this works for everyone

* We don't want forks. Lose out on good feedback/contributions
* Don't encourage insecure configurations/ship the least amount of code possible.

----

What do you both think of the following

* Export `CipherSuite` and allow users to pass their own via `CipherSuiteFactory`
* Add `IsAnonymous` to `Ciphe

[2021-01-19 08:33] jkralik commented on #337
@Sean-Der I'm ok with that. If I am able to put my ANON to CipherSuiteFactory then it is ok. Maybe one think: How we need to test ANON ciphers ?

[2021-01-21 15:13] #130 closed

[2021-01-24 07:08] Sean-Der commented on #337
Ok we are getting closer! I have made all the Ciphers/Protocol public. I just need to add the config option, and add anon ciphers.

https://gist.github.com/b469998a12facee778e9726b6f708129 is the changes from @jkralik patch and just need to get them in.

[2021-01-29 10:00] aaftio commented on #319
@Sean-Der , I am glad to fix it when I get time. Maybe a week later if not in a hurry.

[2021-01-31 13:04] #337 closed

[2021-02-02 04:13] Sean-Der commented on #319
No hurry at all! Thanks for getting involved :)

[2021-02-02 20:38] Sean-Der commented on #337
@jkralik Should we tag a new version? Everything seems to work?

[2021-02-03 07:47] jkralik commented on #337
@Sean-Der Sure. It works perfect.

[2021-02-03 18:07] Kegsay opened #343 "Add support for KeyLogWriter"
## Summary

TLS configs in Go have a `KeyLogWriter` which writes secrets for easy decryption later (e.g for use with Wireshark). This is similar to `curl`'s `SSLKEYLOGFILE=` env var. Please can you add the ability to do this in `dtls.Config`.

## Motivation

It's useful to be able to decrypt DTLS streams when debugging/testing. This feature is available in `tls.Config` - https://golang.org/pkg/cry

[2021-02-03 18:29] Sean-Der commented on #343
I would love to accept a PR for this!

I think you can accomplish what you want today with [Export](https://pkg.go.dev/github.com/pion/dtls#Conn.Export). The [state](https://github.com/pion/dtls/blob/master/state.go#L15) doesn't export its members, but you can use reflection/unsafe to access the private members.

From there you have the keying material, CipherSuite and enough info to even assert i

[2021-02-05 10:41] kegsay opened #345 "Add flag to disable SNI"
## Summary

Currently, the library will [always](https://github.com/pion/dtls/blob/v2.0.5/conn.go#L150) send the `server_name` extension even if `config.ServerName` is blank. I feel this is correct behaviour, but it should be possible to opt-out of this behaviour.

## Motivation

I would like this for two main reasons:
 - Supporting extreme low bandwidth use cases where the SNI extension adds prec

[2021-02-06 03:21] Sean-Der commented on #345
What does `crypto/TLS` do? Do they send if ServerName is blank?

IMO we should match. They have made really great decisions so following upstream is 👍 From me

[2021-02-24 16:55] #343 closed

[2021-03-04 01:44] tigersean commented on #132
ref: https://www.cs.ru.nl/bachelors-theses/2018/Niels_Drueten___4496604___Security_analysis_of_DTLS_1_2_implementations.pdf
page 14:
"Closing a DTLS connection the implementation should send a close notify alert. This way, the peer knows the connection is ending"

[2021-03-05 03:25] Sean-Der commented on #132
Hey @tigersean

We close when we get a [Close Alert](https://github.com/pion/dtls/blob/master/conn.go#L720)

We also send a [Close Alert](https://github.com/pion/dtls/blob/master/conn.go#L903-L905) when the user closes the connection.

[2021-03-12 06:31] PieerePi commented on #133
@GregorioDiStefano I had the same problem when I tested FreeSWITCH with pion. I‘ve modified some code in my repository and want to PR it to pion/dtls. Do you have time to have a check and see if they are consistent with what you said? Thanks!

https://github.com/PieerePi/dtls/commit/64dd74edb5e2216f0d7bfc4f943e8e794f29d1e2

[2021-03-23 22:29] paullouisageneau opened #356 "DTLS alert insufficient security with libdatachannel"
### Your environment.
  - Version: v2.0.8

### What did you do?

Running the libdatachannel client in https://github.com/sipsorcery/webrtc-echoes/pull/28 against the [Pion echo server](https://github.com/sipsorcery/webrtc-echoes/tree/master/pion).

### What did you expect?

The peer connection should succeed, in particular, the DTLS handshake should succeed.

### What happened?

The Pion echo serv

[2021-03-24 03:26] Sean-Der commented on #356
Woot, so excited to see this interop happening :)

I was able to reproduce, should have an answer real quick.

[2021-03-24 04:21] Sean-Der commented on #356
The issue is that the ServerHello doesn't contain a `use_srtp` extension. These are the entries in our ClientHello.

[code]

[2021-03-24 17:23] paullouisageneau commented on #356
Oh thanks, I missed it. The issue is that libdatachannel does not negotiate SRTP if media support is disabled, a behavior browsers are fine with but is actually not correct.

[2021-03-24 18:08] #356 closed

[2021-03-29 11:07] GuiTeK opened #358 "Why are most typed errors private?"
Hi,

First, thank you for this library! It was really easy to get started with and works well!

The only issue I've encountered so far is that I can't know the reason of a `dtls.Conn.Read()` failure. Indeed, most typed errors are private: https://github.com/pion/dtls/blob/v2.0.8/errors.go#L16

So for example, I can't do:
[code]

Which is annoying because these are temporary/easily recoverable erro

[2021-03-31 12:14] Kegsay opened #359 "Support DEFLATE compression"
## Summary

DTLS supports compression. It would be nice to implement that as a compression method in the handshake.

## Motivation

Compression is desirable for low bandwidth use cases. This does not appear to be an option in `crypto/tls` but it does form part of the TLS RFC - https://tools.ietf.org/html/rfc3749#section-2

## Describe alternatives you've considered

Compression of the DTLS `io.Rea

[2021-03-31 14:12] at-wat commented on #359
TLS-layer data compression is known to have compression side-channel attack vulnerabilities (CRIME (CVE-2012-4929) and its enhanced versions) and major libraries and browsers have disabled it.
https://tools.ietf.org/html/rfc7457
The feature has been dropped from the protocol by TLS 1.3 and DTLS 1.3.
https://tools.ietf.org/html/rfc8446#page-30

As the series of CRIME vulnerabilities are based on ch

[2021-04-15 15:34] daenney opened #361 "Codecov security breach"
Unfortunately, we're impacted. I don't believe we use any secrets in our CI for this repo thankfully. But I can't verify that to be 100% sure since I don't have admin access to this repo. I also don't know if other repos in the pion org may be affected and require secrets rolling.

Paging @Sean-Der

[2021-04-15 15:38] Sean-Der commented on #361
Thanks for the heads up!

We have a secret for deploying GitHub Pages (for pion.ly) will roll that now!

I also made you an owner, no reason you should be blocked on me :)

[2021-04-15 15:48] daenney commented on #361
The powerrrrrrr, I can feel it :smiling_imp:.

[2021-05-07 12:35] neilalexander opened #367 "net.PacketConn"
I'm a little surprised to find that a DTLS implementation, which is specifically datagram-oriented, seems to expect a stream-oriented `net.Conn` rather than a datagram-oriented `net.PacketConn` as an input to `Client()` and `Server()`.

Curious if there is a reason for this? It means that anything `net.PacketConn`-based has to be wrapped.

[2021-05-07 13:06] daenney commented on #367
@Sean-Der Do you know why this is? Looking at our code, the only thing we use from Conn that PacketConn doesn't have is the RemoteAddr, but since using ReadFrom on a PacketConn returns the info it doesn't seem necessary.

I'm honestly a little confused myself now :sweat_smile:

[2021-05-07 13:19] igolaizola commented on #367
The other day I was listening to Adam Woodbeck, author of Network Programming with Go, during a gotime podcast (https://changelog.com/gotime/176) and he recommends to use `net.PacketConn` on UDP implementations.

[2021-05-07 14:11] daenney commented on #361
Did we end up doing this? I see an org wide secret for pion bot but that one predates the codecov breach notification.

[2021-05-07 15:04] at-wat commented on #361
It would be better to review the workflows in the organization to prepare for future attacks.

Model of GitHub Actions is designed to make it possible to control the access scope of the secrets. For example,
[code]
(I haven't checked there are potentially dangerous workflows in pion org.)

[2021-05-17 01:38] Sean-Der commented on #361
@daenney Sorry for responding late! I did fix that, I updated the existing value.

@at-wat That would be awesome. You know more about github actions, but any improvement send my way and happy to approve :)

[2021-05-17 02:07] Sean-Der commented on #359
Thanks for opening this @Kegsay and the feedback/research @at-wat

I think the best thing we can do here is not implement compression. If we implement it and make a mistake it would hurt the reputation of Pion. I don't think the reward is worth the risk in this case.

Compression can be done by the calling code, so we aren't blocking use cases either. I appreciate you bringing this up though! Alwa

[2021-05-17 02:07] #359 closed

[2021-05-17 02:12] Sean-Der commented on #358
Hey @GuiTeK

I think you can check `dtls.TemporaryError` we have them split up [here](https://github.com/pion/dtls/blob/master/errors.go#L23-L28) and I believe `errors.Is` should do the trick.

I am not against exporting the errors if it helps your work. Most of them are implementation specific, so if we refactor code it would be pretty hard to make sure we are consistently returning the same errr

[2021-05-17 02:15] Sean-Der commented on #367
Just a design mistake! I am up for fixing this in the next major release.

Maybe we could provide a nice helper to make `net.Conn` users migration easy. This also would be a great chance to fix [this](https://github.com/pion/dtls/issues/279#issuecomment-678675036) as well. We shouldn't provide a `Handshake` function that is implicitly called on Read/Write. Right now we do it on conn creation which

[2021-05-17 09:12] daenney commented on #358
I think a lot of these errors are internal because you're not really meant to recover from them. In most cases if you hit any error during a handshake the only sane thing to do is abort everything. There's probably a few that can be safely handled that way that are worth considering exporting, but I wouldn't want to go in and wholesale export all the errors.

[2021-05-17 09:25] daenney commented on #279
If we were to take option 1, realistically we'd want that option on/by default since the current behaviour is undesirable. But we can't flip that on by default since it changes our behaviour quite a bit and we don't know if folks are relying on it somehow. That would result in us having to do a major anyway to be able to flip the default for that option, at which point I'd rather we break the API

[2021-05-17 14:45] Sean-Der commented on #358
@daenney Agree.

I think what we have should work today. Users can distinguish between Fatal/Temporary errors, beyond that I think higher cost then value for exporting private stuff.

[2021-05-19 18:47] pfg666 opened #368 "Client responds to CertificateRequest incorrectly, potentially causing interoperability problems"
### Your environment.
  - Version: 2.0.9
  - Browser: N/A
  - Other Information - OS: Ubuntu 20

### What did you do?
Test how the PionDTLS client behaves when asked to authenticate with a certificate of a type it does not own.
The [RFC mandates](https://tools.ietf.org/html/rfc5246#section-7.4.6) in this case that the client responds with an empty certificate as per:

### What did you expect?
An e

[2021-05-20 09:25] daenney commented on #368
Thanks so much for raising this with us and all the detail provided in the bug report!

As an aside, I hadn't seen DTLS fuzzer before, seems great. @Sean-Der @at-wat does either of you have an idea on how we could integrate that in CI? It feels like this could help us close the long-standing #4.

[2021-05-20 16:58] pfg666 commented on #368
[DTLS-Fuzzer](https://www.usenix.org/conference/usenixsecurity20/presentation/fiterau-brostean) is a state fuzzer capable of automatically generating models for clients and servers.  On analyzing the models, bugs such as this one can be found. The '[public](https://github.com/assist-project/dtls-fuzzer/)' version currently only supports servers, whereas the development version (the one used here)

[2021-05-21 09:34] Sean-Der commented on #368
I would love to do that @daenney! I am a few weeks out from having free time, but sounds like a great weekend project :)

Sounds like getting TLS-Attacker setup today in the best first step? I hadn't heard of these tools before, but I am sure we will find some good bugs/additional work :)

[2021-07-01 09:05] acevest opened #374 "MessageClientKeyExchange decode logic can be improved"
https://github.com/pion/dtls/blob/fab1e7895e57316b850a8d0e86e2d5cae6594ee3/pkg/protocol/handshake/message_client_key_exchange.go#L50

maybe like this
[code]

[2021-07-01 09:13] acevest commented on #374
and line 54
[code]

should be
[code]

?

[2021-07-19 14:49] Sean-Der commented on #374
Hi @acevest

IMO the following is better because it is explicit `if publicKeyLength := int(data[0]); len(data) != publicKeyLength+1 {`

I do like `m.PublicKey = append([]byte{}, data[1:1+publicKeyLength]...)` since it is more explicit. I shouldn't change the behavior of the code, but could be nicer for readers.

I am going to close this issue since there is nothing actionable for the maintainers.

[2021-07-19 14:49] #374 closed

[2021-07-22 09:04] rtechencheng opened #385 "Yocto bitbake cannot compile pion/dtls/v2"
### Your environment.
  - Version: *v2.0.9*
  - Browser: *N/A*
  - Other Information - Detail description under here https://github.com/rtechencheng/pion-dtls-yocto-integrate

### What did you do?

See https://github.com/rtechencheng/pion-dtls-yocto-integrate

### What did you expect?
To be able to `bitbake` pion/dtls/v2.

### What happened?
Compilation error.

[2021-07-22 09:33] daenney commented on #385
This does not provide remotely enough information for us to do anything. The output from the compilation attempts are missing too.

If you can provide additional info, we might be able to help. But as long as things `go build` using the regular Go toolchain this'll largely be a "won't fix" kind of issue for us.

[2021-07-22 09:45] rtechencheng commented on #385
I understand you point. And your dtls library is really nice so that is why I want to try on Yocto.
But it is hard to provide the exact information that you want, cause Yocto builds the go cross compiler from the source before compiling any other go packages. So it's beyond just using `go build` on a host machine.
But first of all, is there any requirement regarding the `go` toolchain version to b

[2021-07-22 09:53] daenney commented on #385
There's no special requirements.

After a whole bunch of spelunking, I found this: https://github.com/rtechencheng/pion-dtls-yocto-integrate/blob/main/build/github.com-pion-dtls-v2/2.0.9-r0/temp/log.do_compile.1112306 (providing that output directly would've been helpful).

It seems that you're using an aarch64 toolchain but it's looking for the amd64 go linker. That's not right. It looks like you

[2021-07-22 09:56] rtechencheng commented on #385
Yes! you are exactly hitting the point! Great eyes.
But yes, `OOS=linux GOARCH=arm64` if you check https://github.com/rtechencheng/pion-dtls-yocto-integrate/blob/main/build/github.com-pion-dtls-v2/2.0.9-r0/temp/run.do_compile.1112306

[2021-07-22 10:14] rtechencheng commented on #385
One thing I don't understand is that in the error log, the cross-compiler is trying to find asn1 native/host (x86) package from the pseudo sysroot (recipe-sysroot-native) but I only have the asn1 package installed in target (arm64) sysroot (recipe-sysroot). I am not familiar with this `importcfg` thing, how does it work in a go compiler?

[2021-07-22 11:35] daenney commented on #385
`importcfg` is an option to `go tool compile: https://pkg.go.dev/cmd/compile. I have no idea what would be calling that though.

[2021-07-22 21:41] Sean-Der commented on #385
@rtechencheng I am not familiar with Yocto, are you able to compile a minimal hello world with this setup? Is pion/dtls causing the issue, or one of our dependencies?

Just something like this in `main.go`

[code]

[2021-07-22 22:05] rtechencheng commented on #385
I have no problem compiling a hello world.
And I am able to compile all the libraries I linked in my repo:
https://github.com/rtechencheng/pion-dtls-yocto-integrate#version-info

The only thing that is not compiling is the examples in your repo. If I remove the example source code manually right before Yocto bitbake starts compiling it, then your library compiles fine.

[2021-07-23 10:05] daenney commented on #385
Can we narrow it down to a particular example? Looking at them, I can't really see anything that should trip things up.

[2021-07-23 10:28] zllovesuki opened #386 "Support for GetCertificate and GetClientCertificate similar as in crypto/tls"
## Summary

Go's `crypto/tls` has support for `GetCertificate` where it can return a certificate used for the handshake based on ClientHello. Though this feature is commonly used to issue ACME certificate on the fly, or to support certificate reloading without restarting the server.

## Motivation

It would be tremendously useful to support `GetCertificate` in dtls so the server doesn't have to ha

[2021-07-23 12:32] rtechencheng commented on #385
Looks like to me are the `dial` and `listen` examples.

[2021-07-23 13:55] Sean-Der commented on #385
@rtechencheng is it an issue if you have multiple definitions of main, did dial+listen fail when compiled on their own as well? Can you try just compiling `examples/dial/verify` ?

[2021-07-23 14:24] rtechencheng commented on #385
No single example, e.g. `examples/dial/verify`, does not compile:
[code]

[2021-07-23 14:28] rtechencheng commented on #385
I guess it is not an issue with your example code. But something related to Yocto generated go compiler.
Not sure if it is related to this one:
https://www.programmersought.com/article/64993527313/

[2021-07-23 15:01] Sean-Der commented on #386
Hey @zllovesuki

That sounds great to me! Anything that matches `crypto/tls` I am in support of. If you have any questions about implementing happy to help, I am also in [Slack](https://pion.ly/slack)

[2021-08-05 12:07] rtechencheng commented on #385
I think I will close this for now cause putting all the source code of all the recursive dependency packages in the same workspace will help to compile it. It must be something in Yocto environment.

[2021-08-05 12:07] #385 closed

[2021-08-05 12:14] swechencheng opened #389 "How to config a server with the most simple handshake?"
## Summary

Is it possible to config a server using PSK with the most simple flow?

## Motivation

I'm trying to follow what is described here:
https://docs.oracle.com/en/java/javase/16/security/transport-layer-security-tls-protocol-overview.html#GUID-F1BFB231-BE35-4B14-BB8D-7F33D31A117D

![dtls-handshake](https://docs.oracle.com/en/java/javase/16/security/img/dtls-handshake.png)

I just want to c

[2021-08-05 13:06] daenney commented on #389
Take a look at https://github.com/pion/dtls/blob/master/examples/listen/psk/main.go. I think that's what you want? Configurability wise, whatever nobs exist on [dtls.Config](https://github.com/pion/dtls/blob/2e643d98a435e17c0cd7b87bcd421fe11a0a0632/config.go#L20) you can use.

[2021-08-05 13:08] rtechencheng commented on #389
Yeah, I am trying with that. But how to get rid of `ServerKeyExchange` or simply get rid of `Certificate` when using PSK? As `Certificate` is indicated as optional in the graph.

[2021-08-05 13:09] daenney commented on #389
Certificates aren't used if you configure PSK.

[2021-08-05 13:12] rtechencheng commented on #389
But the documentation says:
[code]
which makes me confused...

[2021-08-05 13:13] daenney commented on #389
I think that's a typo in the docs. I believe it should be "Servers MUST set this if PSK is nil". Just don't set it in our `dtls.Config`.

[2021-08-05 13:17] rtechencheng commented on #389
Well, actually I am running [a coap server](https://github.com/plgd-dev/go-coap/blob/master/examples/dtls/psk/server/main.go).
But my client which uses [tinydtls](https://github.com/contiki-ng/tinydtls) still complains that it receive a `received handshake packet of type: server_key_exchange (12)` but it is not designed to handle that.
So the coap server is not giving any `Certificates` but it sti

[2021-08-05 13:24] daenney commented on #389
Interesting. So that seems to happen due to https://github.com/pion/dtls/blob/2e643d98a435e17c0cd7b87bcd421fe11a0a0632/flight3handler.go#L38 most likely. I believe that should be conditional on a PSK client identity hint being set, and if it's not we should be skipping the server key exchange.

I'm not 100% sure on that, so finding some actual RFCs that state what's supposed to happen here would b

[2021-08-05 13:31] rtechencheng commented on #389
BTW, when I am looking some other implementation like Californium:
https://github.com/GoogleCloudPlatform/community/blob/70507b2ac25d214c91d62b14102e9047b184225f/tutorials/cloud-iot-coap-proxy/proxy/src/main/java/com/agosto/iot/CredentialsUtil.java#L151
Their server is using something called `pskIdentity`, is that the same as `PSKIdentityHint` that your dtls lib uses?

[2021-08-05 13:43] daenney commented on #389
Yeah, it's a bit confusingly named. But basically the "hint" is provided by the server, to help the client pick an identity. The client can set a specific identity. We're just reusing the same field, which we might be better off not doing to make this a bit clearer.

I don't think our implementation will actually work if you set a PSK but don't set an identity, based on https://github.com/pion/dtl

[2021-08-05 13:54] daenney commented on #389
If you can modify the code locally, I'd say try and see what happens if you make a change like this:

[code]

That should fix it to work as expected as a server. Just make sure to not set `dtls.Config.PSKIdentityHint`.

[2021-08-05 16:20] rtechencheng commented on #389
Tested and it works!
Just a syntax fix needed:
[code]
@daenney Tack så mycket! Would you make a PR for this or?

[2021-08-06 08:54] daenney commented on #389
I'll take a look at that. I need to make sure we can always elide the ServerKeyExchange in the PSK scenario this way. I suspect there might be other properties that if set even with PSK we should still send ServerKeyExchange even if the identity is null.

I'll need to dig into the RFCs and hope something spells this out, b/c right now I cribbed this trick based on a paragraph in OpenSSL docs.

@se

[2021-08-18 11:32] besedad opened #390 "Calling `Conn.Close` gets stuck"
I have a basic dtls client and a listener sitting on the opposite side. Sometimes calling Close on client connection makes the program get stuck and the only remedy is to kill it. My suspicion is that there's some weird race condition at play somewhere down the line after calling Close.

With help of some prints placed around the code, I've tracked the problem down to this line[1] where things com

[2021-08-20 13:57] rtechencheng commented on #389
Hi again,
One thing I have observed from our old java implementation based on Eclipse Californium is that the server use "flight 4" to handle the same DTLS client I used above:
[code]
Why it is `flight 4` in Californium? And why we are using `flight 3` in your library? What's the difference?
Thanks!

[2021-08-24 13:10] rtechencheng commented on #253
Hi @gordonklaus ,
I have exactly the same issue as yours (though not nRF device).
Could you elaborate more how a client can use an ephemeral source?
I'd also be very much appreciated if `dtls` can support RFC 6347, section 4.2.8.
Thanks!

[2021-08-24 19:49] gordonklaus commented on #253
Hi @rtechencheng .  You can read about ephemeral ports [here](https://en.wikipedia.org/wiki/Ephemeral_port).  To obtain an ephemeral source port, you can either specify the port of the local address to be zero when you `bind` the socket, or the socket will automatically be bound when you first call `sendto` or `connect`.  Then you will be assigned a random available port automatically.

[2021-08-24 20:20] rtechencheng commented on #253
Hi @gordonklaus . Thanks for your reply!
As for a client-server connection, the server has to be able to accept an ephemeral port connection right?
When using this `pion/dtls` `ListenAndServeDTLS`, how should I configure the server to accept a ephemeral port connection?

[2021-08-24 20:36] gordonklaus commented on #253
@rtechencheng  The server doesn't have to do anything special.  An ephemeral port is just like any other port; it's just that the port number is chosen randomly.

[2021-08-25 04:59] renovate[bot] opened #391 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] Update golang.org/x/crypto commit hash to b4de73f
 - [ ] Update golang.org/x/net commit hash to 69e39ba

---

- [ ] Check this box to trigger a r

[2021-08-25 10:19] rtechencheng commented on #253
@gordonklaus Thanks a lot. But I confirmed in my project that we are not going to use an ephemeral port in our client.
Well, it would be super nice if we have `RFC 6347, section 4.2.8` support in `pion/dtls`, but looking at the source code I feel it would be a bit contradictory to the current `replay detection` implementation.

[2021-09-10 10:02] eliot4321 opened #394 "Dtls 1.3"
Hi,

Are there any plans to have an implementation of DTLS1.3  soon?

[2021-09-11 08:25] daenney commented on #394
Dupe of #188

[2021-09-11 08:25] #394 closed

[2021-10-11 17:18] lukaslihotzki opened #398 "Server chooses cipher suite not matching its certificate"
If the server only has either ECDSA or RSA certificates, it needs to choose the corresponding cipher suite, even if the client announces a preference for a cipher suite of the other type.

How to reproduce:
1. Run the server (master branch): `go run examples/listen/selfsign/main.go`. It will generate a self-signed ECDSA certificate.
2. Connect with OpenSSL s_client, without client certificates, wi

[2021-10-11 20:36] lukaslihotzki commented on #398
It seems like certificate selection is just by server name, not by certificate type. So for each server name, the server supports either ECDSA or RSA and it should restrict the cipher suites accordingly.

[2021-11-16 03:31] #391 closed

[2021-12-07 15:56] cohosh opened #406 "SNI field contains an IP address instead of a valid hostname"
### Your environment.
  - Version: v2.0.8
  - Browser: varies

### What did you do?

We've been investigating a possible attempt to block Snowflake by fingerprinting the DTLS connections between clients and Snowflake proxies in Russia: https://ntc.party/t/ooni-reports-of-tor-blocking-in-certain-isps-since-2021-12-01/1477/18

One of the identified differences between the DTLS handshake messages cre

[2021-12-07 15:58] Sean-Der commented on #406
Thanks for bringing this up!

Matching `crypto/tls` is always an auto approval from me :)

Do you have time to make this PR, or would it be helpful if I did the code?

[2021-12-07 16:14] cohosh commented on #406
Working on it now :) Thanks for the quick reply!

[2021-12-07 22:01] cohosh opened #408 "Support for ALPN extension"
## Summary

Support ALPN extensions for DTLS sessions. This would allow callers of the DTLS library to negotiate application layer protocols.

The way this is handled in crypto/tls is through the `NextProtos []String` field in the `Config` struct: https://pkg.go.dev/crypto/tls#Config

This change will require both client and server-side support of the ALPN extension.

## Motivation

This is a majo

[2021-12-08 00:34] uumaro opened #409 "Server Hello should not contain supported_groups extension (`extension.SupportedEllipticCurves`)"
### Your environment.
  - Version: v2.0.9
  - Browser: N/A

Pion includes both the supported_groups ([also called](https://www.rfc-editor.org/rfc/rfc7919.html#section-7) elliptic_curves) and ec_point_formats extensions, whether sending a Client Hello or a Server Hello. (Refs: [flight 1](https://github.com/pion/dtls/blob/v2.0.9/flight1handler.go#L66-L73), [flight 3](https://github.com/pion/dtls/blo

[2021-12-08 03:13] #406 closed

[2021-12-08 11:02] daenney commented on #409
This sounds very reasonable to me. If you're able and willing, feel free to submit a PR (with a test please) that fixes this inconsistency.

[2021-12-10 09:29] #409 closed

[2021-12-16 12:01] jkralik commented on #390
I have a similar issue. This is a backtrace where stuck occurs:

[code]

[2021-12-16 13:58] #390 closed

[2022-01-15 06:34] boaks commented on #256
That extension is now the upcoming [RFC9146](https://www.rfc-editor.org/rfc/authors/rfc9146.html).

Sure, it's more relevant for IoT than for other use-cases.

My experience with it is really great. My devices are now running over a week, using deep sleeping modes, and exchanging mainly one UDP-message pair (CoAP request/response) on wakeup. Very efficient, very reliable (with  CoAP retransmission

[2022-01-15 18:54] beriberikix commented on #256
Awesome! Is that preview available somewhere?

[2022-01-17 08:59] boaks commented on #256
I plan to make it available. But I have to do some tasks ahead.
It's mainly tinydtls / feature/cid branch with the other bugfixes PRs pending.
Therefore I would like to have some of them merged before, that makes it easier to maintain the preview.
The second part is very small, it's the nRF9160 udp sample together with the zephyr coap-lient merged into the tinydtls dtls-client sample.
So, maybe ne

[2022-01-18 06:02] glerchundi commented on #256
Thanks for the heads up! Great to see community is moving!

[2022-01-25 15:50] jfdive commented on #398
Had the same issue (CA issued RSA certs & keys) but client was always proposing ECDSA meaning failure to connect. the associated PR fixes the problem.

[2022-01-26 19:19] mschexnaydre opened #418 "Signature algorithm used in CertificateVerify selects algorithm not listed in CertificateRequest message"
This is a violation of the RFC -  https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.8

      "The hash and signature algorithms used in the signature MUST be
      one of those present in the supported_signature_algorithms field
      of the CertificateRequest message"

### Your environment.
  - Version: verified problem in current code, last commit: 7d92e05b506557005042a79a3c62e17864afaa6

[2022-01-28 04:05] Sean-Der commented on #398
Fixed by b8f72f3774497508fd9bc960a676dc395c572416

Thank you @lukaslihotzki !

[2022-01-28 04:05] #398 closed

[2022-01-28 04:07] Sean-Der commented on #345
Fixed by 8f0a63079a965465ea09a7922404ee8e6325f3bf

When serverName is empty the SNI isn't sent. Thank you for fixing this @cohosh !

[2022-01-28 04:07] #345 closed

[2022-01-29 19:16] #319 closed

[2022-01-30 02:28] #408 closed

[2022-02-04 07:12] polevpn opened #425 "when call conn.Read() got error read: message too long"
`
when call conn.Read()
get the following error
dtls fatal: read udp xxx.xx.xx.xx:48859->xx.xxx.xx.xxx:8443: read: message too long,actually writing buffer size less than 2k
`

### Your environment.
  - Version: v2.1.1
  - Browser: *include version*
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?

### What did you ex

[2022-02-04 12:19] daenney commented on #425
We need more information on what you were doing and how to reproduce this. Please fill out the issue template properly. As it stands right now we don't have enough information to do anything about this.

[2022-02-04 17:42] Sean-Der commented on #425
@polevpn I don't believe this error is from us. That looks like the human readable description for [EMSGSIZE](https://github.com/golang/go/blob/f229e7031a6efb2f23241b5da000c3b3203081d6/src/syscall/zerrors_linux_amd64.go#L1469)

What OS are you using? Are you using UDP? Happy to help, but not a `pion/dtls` issue.

[2022-02-04 17:42] #425 closed

[2022-02-10 13:52] ManuelBk opened #427 "Add cipher suite TLS_PSK_WITH_AES_256_CCM_8"
## Summary

Supporting TLS_PSK_WITH_AES_256_CCM_8 cipher suite out of the box.

## Motivation

It could be injected as a customer cipher suite, however most code used for this is already present with
TLS_PSK_WITH_AES_128_CCM_8 cipher suite. I think the effort needed to built in this cipher suite to pion/dtls
or even the whole stack of AES_256_CCM cipher suites is rather small compared to the benef

[2022-02-15 13:14] wumiaoeric opened #429 "Handshake failed. Broken by #398 "Server chooses cipher suite not matching its certificate""
In the scenario of that client cert is signed by RSA but server side only configures cipher with ECDSA, the DTLS handshake fails now. Which was working fine on or before v2.1.0.

By looking at the recent commits and this one is the cause of the issue. "Server chooses cipher suite not matching its certificate #398". The fix for #398 put filter on client side also which cuts client supported cipher

[2022-02-22 19:24] #429 closed

[2022-03-10 08:00] jkralik opened #437 "Add support for ECDHE_PSK ciphers"
# Summary

Supporting TLS_ECDHE_PSK_* cipher suites out of the box.

## Motivation

Out iot devices uses TLS_ECDHE_PSK (OCF specification) cipher for handshake. With current implentation we are not able to use pion/dtls because flights need to be modified.

## Implementation

I created PR which extends the implementation with one cipher as example

[2022-03-22 09:32] #437 closed

[2022-04-05 17:55] ryanhagen opened #442 "Server side only certs - openssl client - wrong certificate type"
### Your environment.
  - Version: 2.1.0
  - Browser: What?
  - tldr: Server side only certificates - using openssl dtls client - fails

### What did you do?
I've created production letsencrypt certs that are valid.

**I configure my listener like so:**

    certificate, err := util.LoadKeyAndCertificate(dtls_key, dtls_cert)
	util.Check(err)

	rootCertificate, err := util.LoadCertificate("getssl-d

[2022-04-19 18:48] niondir commented on #279
Is there any progress on this? We are accepting DTLS connections of potentially many thousand clients (IoT devices) on low bandwidth connections with high timeouts - which is worst case for this scenario ....

[2022-04-20 08:00] boaks commented on #279
My experience with (too) many coap and/or dtls stacks is, it's either intended and developed to be used for IoT, or you may be faced much more pain, then you expect. That doesn't mean, other implementations are bad, it just means, they are not really supporting IoT.

[2022-04-20 12:54] Sean-Der commented on #279
Hi @niondir

Instead of doing your `Handshake` or first `Read`/`Write` in a goroutine create your `dtls/Conn` in one. Even when we change the behavior to match `crypto/TLS` you still have to handle the concurrent handshakes.

Happy to create a JSFiddle showing how to do this. When this issue is closed though I don’t think this library will change dramatically, we are just moving when something blo

[2022-04-21 06:56] jdbruijn commented on #279
FWIW I'm doing like example below in our DTLS server for IoT devices to create 1000 handshake workers/listeners, also using [go-coap](https://github.com/plgd-dev/go-coap). Has been working great for over a year now.

[code]

[2022-04-24 15:21] boaks commented on #442
If you append a [IP-Capture](https://github.com/eclipse/californium/wiki/Logs-and-IP-Capturing-%E2%80%90-How-To-Provide-The-Right-Information#ip-capturing), there may be a chance, to see what fails.

[2022-04-24 15:33] daenney commented on #442
You're loading your TLS key and the root CA separately, but that doesn't mean that Go will build the certificate chain for you. Now you just have 2 disjoint certs in your pool. The first one being offered is now a root CA, which your client really can't do anything with and probably errors out.

You don't want to do it this way server side. You need to create a cert bundle with your server cert +

[2022-04-25 19:35] Sean-Der opened #452 "Change how we do temporary errors to match upstream"
When upgrading the linters I found [this](https://github.com/golang/go/issues/32463) discussion.

We should evaluate if we should change how we return temporary errors.

[2022-04-26 01:47] at-wat commented on #452
I'm not very sure what doesn't match upstream at now.
https://github.com/golang/go/issues/32463 was to drop `var ErrTemporary` not `interface { Temporary() }`.
We don't have `var ErrTemporary` and only have implementation of `interface { Temporary() }` (`TemporaryError struct`) which matches upstream API.

[2022-05-04 08:27] MaxBosse opened #455 "HelloRequest Handshake Type Support"
## Summary

Add support for the HelloRequest Type

## Motivation

I am currently trying to implement a client for a server that sends a HelloRequest-Paket after the HelloVerifyRequest. This packet is currently not supported and causes the client to not function properly.

## Additional context

My understanding is that the HelloRequest Packet requests the client to reset its sequence number.
Howev

[2022-05-08 03:52] Sean-Der commented on #455
Hey @MaxBosse

I think it makes sense to add support for it! Would you be interested in contributing this? I would be happy to help.

In the short/medium time I don't have the time to work on this. I could see it possibly happening in the next 6 months. We just have lots of other issues that have more users requesting/effected.

thanks

[2022-05-08 09:48] #442 closed

[2022-05-08 09:49] #358 closed

[2022-05-08 10:00] daenney commented on #97
I've looked at memguard again recently, but it would be pretty invasive to use it as you end up constantly needing to interact with the memguard.Enclave. We'd have to abstract around that at the very least and be extremely careful to constantly use it correctly when dealing with any secret material.

I think I'm going to close this one for now. As it currently stands, Go's standard library doesn't

[2022-05-08 10:00] #97 closed

[2022-05-08 10:03] daenney commented on #202
This has been fixed.

[2022-05-08 10:03] #202 closed

[2022-05-09 13:22] ca110us opened #459 "Set sessionId in clienthello"
I'm a bit confused, how do I set the sessionid in clienthello？

[2022-05-10 09:57] ca110us commented on #459
I have understood, thanks

[2022-05-10 10:03] ca110us commented on #459
By the way, how can i get the key "server name" before dtls.Dial

[2022-05-10 10:04] #459 closed

[2022-05-18 06:05] HRogge commented on #188
DTLS 1.3 is finally in RFC state...
https://www.rfc-editor.org/rfc/rfc9147.html

[2022-05-18 09:29] #11 closed

[2022-05-20 21:02] brendoncarroll opened #469 "Ed25519 keys are not fully supported."
I first noticed this issue trying to self sign a certificate with an Ed25519 key.  Ed25519 keys do not work for self-signing client certificates.

On the client:
[code]

On the server:
[code]

But that is just the proximate problem I am having.  Several tests fail if you apply this diff, which switches to ed25519 keys in the `selfsigned` package.

[code]

Failing tests:
[code]

[2022-05-21 12:29] daenney commented on #469
I suspect the problem is elsewhere. We have E2E tests with self-signed ED25519 certs generated by us https://github.com/pion/dtls/blob/84b65ad6309d39a1f01204667d1cecbf9e016341/e2e/e2e_test.go#L325-L363

We also have Pion as a server with OpenSSL as a client https://github.com/pion/dtls/blob/84b65ad6309d39a1f01204667d1cecbf9e016341/e2e/e2e_openssl_test.go#L294-L304

Both set of tests pass and gener

[2022-05-21 12:35] daenney commented on #469
The tests break for a number of reasons:

` TestHandshakeWithAlert/SignatureSchemesNoIntersection` explicitly tests with ECDSA keys, and a signature scheme that only supports those. You've changed it to generate ED25519 keys, but have not adapted the test accordingly:
[code]

We explicitly expect `tls.ECDSAWithP521AndSHA512` which is not the case when using ED25519 keys. I suspect the rest of the

[2022-05-22 13:02] daenney commented on #469
Sorry, didn't mean to actually close this. I just dug a little deeper and you're right, it fails with a client cert, which our E2E tests aren't catching.

[2022-05-22 13:44] daenney commented on #469
@Sean-Der I'm honestly a little mystified here. My suspicion is that we're doing something wrong in `selfsign.WithDNS` since that's where we end up: https://github.com/pion/dtls/blob/84b65ad6309d39a1f01204667d1cecbf9e016341/pkg/crypto/selfsign/selfsign.go#L47-L100

But we appear to be matching https://go.dev/src/crypto/tls/generate_cert.go so I suspect that's fine.

I patched our examples to use e

[2022-05-22 13:54] daenney commented on #469
Uhg, I think I found it: https://github.com/pion/dtls/blob/84b65ad6309d39a1f01204667d1cecbf9e016341/crypto.go#L110-L128

Notice the comment on `case ed25519.PrivateKey`? We're not supposed to hash ourselves, yet we pass in `hashed`, not `handshakeBodies`. Changing that to `handshakeBodies` now makes the examples work.

We're generating the CertificateVerify incorrectly in the case of ed25519.

[2022-05-22 14:08] daenney commented on #469
@brendoncarroll Mind trying out #470 and see if that works for you now?

[2022-05-24 08:20] #469 closed

[2022-05-24 16:00] daenney opened #473 "E2E tests deadlock and consumes tons of CI minutes"
For some reason the E2E tests at times deadlock. A panic happens but the process never quits, until the CI job times out after 360 minutes (6 hours). https://github.com/pion/dtls/actions/runs/2376286601 is the latest example of this happening.

This wastes tons of the free GitHub Actions minutes we get (2000 per month, or about 33 hours), and though going over that isn't causing any problems curre

[2022-05-25 00:43] at-wat commented on #473
Free minutes are only applied to private repos and public repos don't consume it.

I think it's better to set `timeout-minutes` to the job or step to cap the execution time.

[2022-06-22 15:22] mniestroj opened #478 "Handshaker doesn't handle "Read retransmit" event"
### Your environment.
  - Version: *v2.1.5*
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?
1. Run server: `PION_LOG_TRACE=all go run ./examples/listen/psk/main.go` from https://github.com/mniestroj/pion-dtls/tree/read-retransmit-reproduction
2. Run client: `PION_LOG_TRACE=all go run ./examples/dial/psk/main.go` from

[2022-06-22 16:02] mniestroj opened #479 "DTLS server does not handle retransmits of the client's last flight"
### Your environment.
  - Version: *v2.1.5* with small adjustments to "example listener"

### What did you do?
Run example PSK listener from https://github.com/mniestroj/pion-dtls/tree/handshake-not-finishing, which contains some adjustments for mbedTLS client that I use. Also the retransmit timer was extended from 1s to 30s to help reproduce the issue.

Communication was done on tun/tap interface

[2022-07-05 08:23] HCLAC opened #483 "not close udp conn when dtls handshake failed？"
### Your environment.
  - Version: *2.1.5*
  - Browser: *include version*
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?

when client connect to dtls service, if psk callback return error, handshake also return error but not return conn. I see the following code in conn.go:887, psk error not in fatal and close, so h

[2022-08-02 14:45] jkralik opened #486 "Add Config.VerifyConnection callback"
## Summary

Allows to close connection during handshake process. https://github.com/golang/go/issues/36736

## Motivation

Have similar implementation as is in tls.Config.

[2022-08-03 15:12] #486 closed

[2022-08-15 08:41] #483 closed

[2022-08-15 09:01] #386 closed

[2022-10-17 22:06] ultperf opened #495 "noise feature?"
noise feature?

just curious  coz saw somewhere